
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "最新消息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<article class="container">
    <h3>跨足光學檢測設備與鋰電池正極材料製造商宏瀨科技(3616)於7月25號舉行新廠落成啟用典禮</h3>
    <h5>2016.03.18</h5>
    <img src="~/Content/images/News/pic2.jpg" alt="消息圖" class="float-r">
    <p>跨足光學檢測設備與鋰電池正極材料製造商宏瀨科技(3616)於7月25號舉行新廠落成啟用典禮，宏瀨科技展現出充沛的人脈關係，與會賓客包括產、官、學界共200餘位代表參加，此次除了新廠落成啟用典禮外，宏瀨科技為落實幸福企業與回饋社會之理念，特將各方所贈送之禮金轉贈公益單位，讓整個活動更顯溫馨與別具意義。</p>
    <p>宏瀨科技董事長陳宏力20幾年前即從事噴霧造粒設備之製造與買賣，於2001年開始投入AOI光學檢測設備，再於2009年藉著對噴霧造粒的專業領域而投入鋰電池正極材料磷酸鋰鐵粉材的製造行列，憑藉著創業家的毅力，歷經近3年的努力於去年12月舉辦磷酸鋰鐵暨磷酸鋰鐵錳材料成果發表會展示出產品的優良特性與競爭力後，經過送樣與客戶認證，今年第二季已接獲客戶訂單，目前除台灣客戶外，中國大陸主要的電池廠也進入最後認證階段，預計最晚第四季將會有明顯的訂單挹注，另一新材料磷酸鋰鐵錳於遷入新廠後將進入試產階段，目前針對國際大廠皆已完成送樣，將進入緊密的討論階段，預估第三季開始將會有國際大廠陸續至龍潭宏瀨訪廠，陳宏力董事長表示搬入新廠後宏瀨除進入大量生產階段外，將更專注於產品品質的提升，以期能在未來的一年裡把磷酸鋰鐵的品質做到世界第一。</p>
    <p>宏瀨科技另一事業處AOI光學檢測設備也積極與客戶密切配合，開發出針對客戶製程所需求的檢測設備，其中包括LED、DRAM、生技等檢測設備也已接獲大廠訂單挹注，預估將對未來接單帶來磁吸效應，宏瀨科技表示未來將持續把光學檢測技術應用於各個科技領域，維持在光學檢測設備的領導地位。</p>

</article>

<div class="text-center">
    <a href="~/News" class="btn">回列表</a>
</div>