@model ProcCore.Business.DB0.News
@{
    ViewBag.Title = Resources.Web.nav_news + ":" + Model.news_title;
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = Resources.Web.nav_news;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<article class="container news-panel">
    <header>
        @Model.news_title
        <small class="text-error">@Model.set_date.ToString("yyyy-MM-dd")</small>
    </header>
    @* 下為編輯器內容 *@
    @Html.Raw(Model.news_content)

</article>

<footer class="text-center clear">
    <a href="~/News" class="btn">@Resources.Web.return_list</a>
</footer>