
@{
    ViewBag.Title = "最新消息:平镇厂迁移";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "最新消息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<article class="container news-panel">
    <header>
        平镇厂迁移
        <small class="text-error">2015.04.08</small>
    </header>

    <img src="~/Content/images/News/pic2.jpg" alt="消息图" class="float-r">
    <p>平镇厂迁移</p>

</article>

<footer class="text-center clear">
    <a href="~/News" class="btn">回列表</a>
</footer>