
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "最新消息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>最新消息</h1>

<figure>
    <img src="~/Content/images/News/pic.jpg" alt="消息圖">
    <a href="~/News/content">READ MORE</a>
    <figcaption>
        <h4><small>2016.03.18</small>台灣宏瀨科技與國際大廠合作量產磷酸鋰鐵錳正極材料</h4>
    </figcaption>
</figure>

<figure>
    <img src="~/Content/images/News/pic2.jpg" alt="消息圖">
    <a href="~/News/content">READ MORE</a>
    <figcaption>
        <h4><small>2016.03.18</small>台灣宏瀨科技與國際大廠合作量產磷酸鋰鐵錳正極材料</h4>
    </figcaption>
</figure>

<figure>
    <img src="~/Content/images/News/pic.jpg" alt="消息圖">
    <a href="~/News/content">READ MORE</a>
    <figcaption>
        <h4><small>2016.03.18</small>台灣宏瀨科技與國際大廠合作量產磷酸鋰鐵錳正極材料</h4>
    </figcaption>
</figure>

<figure>
    <img src="~/Content/images/News/pic2.jpg" alt="消息圖">
    <a href="~/News/content">READ MORE</a>
    <figcaption>
        <h4><small>2016.03.18</small>台灣宏瀨科技與國際大廠合作量產磷酸鋰鐵錳正極材料</h4>
    </figcaption>
</figure>

<figure>
    <img src="~/Content/images/News/pic2.jpg" alt="消息圖">
    <a href="~/News/content">READ MORE</a>
    <figcaption>
        <h4><small>2016.03.18</small>台灣宏瀨科技與國際大廠合作量產磷酸鋰鐵錳正極材料</h4>
    </figcaption>
</figure>
