
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "最新消息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>最新消息</h1>

<figure>
    <img src="~/Content/images/News/pic_s.jpg" alt="消息圖">
    <a href="~/News/content">READ MORE</a>
    <figcaption>
        <h4><small>2015.08.12</small>泓辰開幕典禮</h4>
    </figcaption>
</figure>

<figure>
    <img src="~/Content/images/News/pic2_s.jpg" alt="消息圖">
    <a href="~/News/content2">READ MORE</a>
    <figcaption>
        <h4><small>2015.04.08</small>平鎮廠遷移</h4>
    </figcaption>
</figure>
