
@{
    ViewBag.Title = "联络我们";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.breadCrumb = "联络我们";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <!--
     <script src="~/Scripts/googleReCAPTCHA.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
        -->

    <script>
        $("#ContactUsInfo").submit(function (event) {
            event.preventDefault();
            var data = {
                "name": $("#m_name").val().replace(/<|>/g, ""),
                "company": $("#m_company").val().replace(/<|>/g, ""),
                "tel": $("#m_tel").val().replace(/<|>/g, ""),
                "fax": $("#m_fax").val().replace(/<|>/g, ""),
                "city": $("#m_city").val().replace(/<|>/g, ""),
                "email": $("#m_email").val().replace(/<|>/g, ""),
                "content": $("#m_content").val().replace(/<|>/g, "")
            };

            $.ajax({
                type: "POST",
                url: '/ContactUs/sendMail',
                data: data,
                dataType: 'json'
            }).done(function (result, textStatus, jqXHRdata) {
                if (result.result) {
                    alert(result.message);
                    //grecaptcha.reset(widgetId);
                }
                else {
                    alert(result.message);
                    // grecaptcha.reset(widgetId);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            });
        });
    </script>
}
<section class="container">
    <h2>联络我们</h2>
    <p>欢迎来到泓辰材料公司网站，请留下您的联络方式丶想询问的内容以及您的意见想法， 我们将尽快与您联络，谢谢您!</p>

    <form class="contact-form col-7 col-sm-12" id="ContactUsInfo">

        <div class="row">
            <label class="col-6 col-pd-right">
                <em class="text-error">*</em> 联络人
                <input type="text" id="m_name" required>
            </label>

            <label class="col-6 col-pd-left">
                公司名称
                <input type="text" id="m_company">
            </label>
        </div>

        <div class="row">
            <label class="col-6 col-pd-right">
                联络电话
                <input type="tel" id="m_tel">
            </label>

            <label class="col-6 col-pd-left">
                联络传真
                <input type="tel" id="m_fax">
            </label>
        </div>

        <div class="row">
            <label class="col-6 col-pd-right">
                城市
                <input type="text" id="m_city">
            </label>

            <label class="col-6 col-pd-left">
                <em class="text-error">*</em> 电子信箱
                <input type="email" id="m_email" required>
            </label>
        </div>

        <label for="m_content">您的意见</label>
        <textarea rows="5" id="m_content"></textarea>
        <button class="btn" type="submit">发送</button>
    </form>

    <div class="contact col-5 col-sm-12">
        <img src="~/Content/images/ContactUs/map-CN.gif" class="img-center">
    </div>
</section>
