@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$img-path:              '../images' !default;
$font-path:             '../font' !default;
$lte7:                  false !default;           // 是否兼容IE6-7
$states:                false !default;           // 情境文字是否輸出


// == color
// ----------------------------------------------------------------------
// 語義色
$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%);   // #222
$gray-dark:             lighten($gray-base, 20%);     // #333
$gray:                  lighten($gray-base, 33.5%);   // #555
$gray-light:            lighten($gray-base, 46.7%);   // #777
$gray-lighter:          lighten($gray-base, 93.5%);   // #eee

// 抽象色
$brand-primary:         #79B229;             // 主色
$brand-secondary:       #559543;             // 輔色
$success:               #368B39 !default;             // 綠
$info:                  #37BCEE !default;             // 藍
$warning:               #F2B63D !default;             // 黃
$error:                 #F24030 !default;             // 紅


// == basic
// ----------------------------------------------------------------------
// <body> 背景 & 文字色
$body-bg:               #fff !default;
$text-color:            #656565 !default;

// 文字鏈結色&滑鼠移過色
$link-color:            $text-color;
$link-hover-color:      $brand-primary !default;

// layout
$min-width:             1008px !default;     // 網頁最小尺寸
$max-width:             1400px !default;     // 網頁最寬尺寸: .wrap
$pages:                 'Products' 'AboutUs' 'Support' 'News' 'ContactUs';
$gutter:                15px !default;


// == font
// ----------------------------------------------------------------------
// 微軟正黑體
$font-family-base:      'Microsoft Jhenghei', \5FAE\8EDF\6B63\9ED1\9AD4, Helvetica, Arial, sans-serif !default;
$font-sp:               'trebuc';

$font-size-base:        16px !default;
$font-size-lg:          $font-size-base * 1.25 !default;     // 20px
$font-size-sm:          $font-size-base * 0.85 !default;     // 13px

$line-height-base:      1.25 !default;                       // 20px/16px
$line-height-lg:        1.33 !default;
$line-height-sm:        1.5 !default;
$line-height-computed:  $font-size-base * $line-height-base; // 20px 用在 margin, padding, etc.

$font-size-h1:          $font-size-base * 2.25 !default;
$font-size-h2:          $font-size-base * 1.875 !default;
$font-size-h3:          $font-size-base * 1.5 !default;
$font-size-h4:          $font-size-base * 1.125 !default;
$font-size-h5:          $font-size-base !default;
$font-size-h6:          $font-size-base * 0.875 !default;

$heading-font-family:   inherit !default;
$heading-font-weight:   500 !default;
$heading-line-height:   1.1 !default;

$heading-color:         $brand-primary !default;
$heading-small-color:   desaturate($heading-color, 20%) !default;


// == Components
// ----------------------------------------------------------------------
// 表單元素(停用)上的滑鼠樣式
$cursor-disabled:           not-allowed;

// text bg
$common-active:             #fff $brand-primary;
$caret-width:               4px 5px;

// base large small
$padding-vertical:          2px 5px 1px;
$padding-horizontal:        4px 10px 3px;
$border-radius:             5px 15px 3px;

// 配色- 三值分別為: 本文色 背景色 邊框色
// 情境狀態 + 配色
$state-type: (
    primary:                $brand-primary,
    // success:                $success,
    // info:                   $info,
    // warn:                   $warning,
    // error:                  $error,
);

// 合併配色
$color: $state-type;


// == z-index
// ----------------------------------------------------------------------
$z-index: (
    header:     1,
    main:       3,
    footer:     2,
    banner:     4,
    logo:       50,
    menu:       60,
    goTop:      1001,
    dropdown:   80,
    tooltip:    90,
    modal:      998,
    overlay:    999,
    toggle:     99,
);