@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@media print {
  *,
*:before,
*:after,
*:first-letter,
*:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  font-family: "Microsoft Jhenghei", 微軟正黑體, Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  color: #4C4C4C;
  background: #fff;
}

a {
  color: #4C4C4C;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s;
}
a:hover, a:active, a.current {
  color: #228aac;
}
a:focus {
  outline: none;
}

img {
  vertical-align: middle;
}
img.float-l {
  margin-right: 25px;
  margin-bottom: 25px;
}
img.float-r {
  margin-left: 25px;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft Jhenghei", 微軟正黑體, Verdana, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #44b048;
  margin-bottom: 0.625em;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  line-height: 1.5;
}
p + p {
  margin-top: 1em;
}

strong {
  font-size: 1.0625em;
  color: #368B39;
}

mark {
  background-color: #fbdaac;
  padding: 0.2em;
}

.mark {
  background-color: #ffffe0;
}

hr {
  height: 0;
  border: none;
  margin: 2.4em 0;
}
hr.line {
  border: 0;
  border-top: 1px solid #EAEFDE;
}

.clearfix::after {
  display: table;
  clear: both;
}
.list-dot li::before, .clearfix::after {
  content: "";
}

.list-dot li::before, .circle {
  border-radius: 50%;
}

.full {
  width: 100%;
  max-width: 100%;
}

.half {
  width: 49%;
}

.icon-circle-d, .icon-circle, .icon-cross-img, .icon-triangle {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.list-dot, .list-unstyled, .list-inline {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

/*      table
-----------------------------------------------------------------------*/
table {
  margin-bottom: 20px;
  border-collapse: collapse;
  color: #12556D;
  font-size: 1.0625em;
  line-height: 1.5;
}

tbody {
  border-bottom: 1px solid #E4E5DC;
}

th, td {
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #E4E5DC;
  padding: 15px;
}

th {
  color: #1E7997;
  font-weight: normal;
}

td.item {
  color: #7F7F7F;
}

.borded {
  border: 1px solid #E4E5DC;
}
.borded th, .borded td {
  border: 1px solid #E4E5DC;
}

tr:hover {
  background-color: #f6f6f6;
}
tr:hover td {
  background-color: #f6f6f6;
}

caption {
  padding-bottom: 30px;
  color: #4C4C4C;
  font-size: 1.25em;
  line-height: 1.7;
  text-align: left;
}

table.fixed {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
}

.table-rwd {
  overflow-x: auto;
  min-height: 0.01%;
  max-width: 1360px;
}
.table-rwd table {
  width: 100%;
}
@media (max-width: 48em) {
  .table-rwd {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-rwd table {
    margin-bottom: 0;
  }
  .table-rwd table th, .table-rwd table td {
    white-space: nowrap;
  }
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.img-center {
  display: block;
  margin: auto;
}

.margin {
  margin: 16px;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-line {
  border-bottom: 1px solid #12556D;
  padding-bottom: 15px;
}

.font-sp {
  font-family: "Open Sans", sans-serif;
}

.list-dot li {
  position: relative;
  padding-left: 15px;
  line-height: 1.75;
}
.list-dot li::before {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #2cabd5;
  position: absolute;
  left: 2px;
}
.list-dot li + .list-dot li {
  margin-top: 7.5px;
}
.list-dot li::before {
  top: 12px;
}

.label {
  color: #fff;
  background: #1E7997;
  border-radius: 4px;
  font-size: 0.8125em;
  display: inline;
  padding: 3px 8px;
}

body {
  padding: 15px 20px;
}

h3 {
  color: #4C4C4C;
}

h5 {
  color: #C73677;
}

p {
  line-height: 1.9;
  margin-bottom: 15px;
}

.icon-circle-d, .icon-circle, .icon-cross-img, .icon-triangle {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  background-attachment: fixed;
  background: url(../images/icon-shape.gif) center 0 no-repeat;
}

.icon-cross-img {
  background-position: center -78px;
}

.icon-circle {
  background-position: center -154px;
}

.icon-circle-d {
  background-position: center -233px;
}
.icon-circle-d.text-error {
  background-position: center bottom;
}

.diagonal {
  width: 20%;
  position: relative;
  background: linear-gradient(to top right, transparent 49.5%, #E4E5DC, transparent 50.5%);
}
.diagonal sup, .diagonal sub {
  font-size: 1.0625em;
  position: relative;
  display: block;
  float: left;
  width: 50%;
  line-height: 100%;
  text-align: center;
}
.diagonal sup {
  padding-bottom: 15%;
}
.diagonal sub {
  padding-top: 15%;
}
