html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none; }

*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #F6F6F6;
  color: #4C4C4C;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  position: relative;
  overflow-x: hidden;
  left: 0;
  -webkit-transition: left 0.35s;
  transition: left 0.35s; }

a {
  color: #4C4C4C;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.current {
    color: #228aac; }
  a:focus {
    outline: none; }

img {
  max-width: 100%;
  vertical-align: middle; }
  img.float-l {
    margin-right: 25px;
    margin-bottom: 25px; }
  img.float-r {
    margin-left: 25px;
    margin-bottom: 25px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #44b048; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #5d975f; }

h1, h2, h3 {
  margin-top: 1.25em;
  margin-bottom: 0.625em; }
  h1 small, h2 small, h3 small {
    font-size: 65%; }

h4, h5, h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }
  h4 small, h5 small, h6 small {
    font-size: 75%; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 4.375em; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  margin: 0 0 0.625em;
  line-height: 1.5; }

strong {
  font-size: 1.0625em;
  color: #368B39; }

small {
  font-size: 85%; }

mark {
  background-color: #fbdaac;
  padding: .2em; }

hr {
  height: 0;
  border: none; }

.clearfix::after, .wrap::after, #header::after, #footer::after, #main::after {
  display: table;
  clear: both; }
  .clearfix::after, .wrap::after, #header::after, #footer::after, #main::after, .menu-trigger span::before, .menu-trigger span::after, .list-dot li::before, .list-number li::before, .hover-underline::before, .icon-arrow-down::before, #menu > li > a::before, #menu > li > a::after, .sub-nav a:nth-child(n+2)::before, #main::before, .sidebar::before {
    content: ''; }

.circle, .list-dot li::before, .list-number li::before, .icon-tel::before, .icon-fax::before {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.logo, .menu-trigger, .copyright em {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.list-inline, .list-unstyled, .list-dot, .list-number, .swiper-wrapper {
  list-style: none; }

.list-inline > li {
  display: inline-block; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .list-number li::before {
  text-align: center; }

.text-line {
  border-bottom: 1px solid #12556D;
  padding-bottom: 15px; }

.text-white, .bg-primary, .bg-grays, .bg-success, .bg-info, .bg-warn, .bg-error, .bg-oranges {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.text-primary {
  color: #368B39; }

.bg-primary {
  background: #368B39; }

.text-grays {
  color: #F0F1EC; }

.bg-grays {
  background: #F0F1EC; }

.text-success {
  color: #14AE11; }

.bg-success {
  background: #14AE11; }

.text-info {
  color: #1E7997; }

.bg-info {
  background: #1E7997; }

.text-warn {
  color: #F3991B; }

.bg-warn {
  background: #F3991B; }

.text-error {
  color: #C73677; }

.bg-error {
  background: #C73677; }

.text-oranges {
  color: #EA6A23; }

.bg-oranges {
  background: #EA6A23; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #wrapper, #footer {
  max-width: 1400px;
  margin: 0 25px; }
  @media (min-width: 87.5em) {
    .wrap, #wrapper, #footer {
      margin: 0 auto; } }

@media (max-width: 48em) {
  .wrap, #header, #footer, #main {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0; } }

#wrapper, #header, #footer, #main, .wrap {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 264px; }
  @media (max-width: 30em) {
    #wrapper {
      padding-bottom: 0;
      min-height: auto; } }

#header {
  z-index: 4;
  height: 195px;
  background: #F6F6F6; }

#footer {
  z-index: 1;
  background: #f1f1f1;
  color: #323232;
  min-height: 239px;
  margin-top: -239px; }
  @media (max-width: 30em) {
    #footer {
      margin-top: 0; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 126px;
  height: 83px;
  position: absolute;
  top: 89px;
  left: 60px; }
  @media (max-width: 61.1875em) {
    .logo {
      left: 50%;
      margin-left: -63px; } }

#menu {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 125px; }
  #menu > li {
    width: 19.9%;
    margin-right: -4px; }
    #menu > li > a {
      display: block;
      color: #50414B;
      font-size: 1.1875em;
      letter-spacing: 1px; }
      #menu > li > a:hover, #menu > li > a:active {
        color: #fff; }

.sub-nav {
  background: #fbfbfb;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  -webkit-transition: opacity .3s, visibility .35s;
  transition: opacity .3s, visibility .35s; }
  #menu > li:hover .sub-nav, #menu > li:active .sub-nav {
    visibility: visible;
    opacity: 1; }
  .sub-nav li {
    vertical-align: top;
    width: 25%; }
  .sub-nav a {
    display: block; }

.push {
  left: 250px;
  overflow-y: hidden; }

.menu-trigger {
  display: none;
  cursor: pointer;
  position: relative;
  left: 0;
  top: 20px;
  overflow: hidden;
  width: 250px;
  height: 46px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-apperance: none;
  -moz-apperance: none;
  apperance: none; }
  @media (max-width: 61.1875em) {
    .menu-trigger {
      display: block; } }
  @media (max-width: 29.9375em) {
    .menu-trigger {
      top: 40px; } }
  .menu-trigger:active, .menu-trigger.active {
    background-color: #28662a; }
    .menu-trigger:active span, .menu-trigger.active span {
      background: none; }
      .menu-trigger:active span::before, .menu-trigger.active span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .menu-trigger:active span::after, .menu-trigger.active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .menu-trigger:active span::before, .menu-trigger:active span::after, .menu-trigger.active span::before, .menu-trigger.active span::after {
        -webkit-transition-delay: 0, .3s;
        transition-delay: 0, .3s; }
  .menu-trigger span {
    position: absolute;
    top: 22px;
    right: 10px;
    left: 10px;
    display: block;
    background: #F6F6F6;
    height: 2px;
    margin: auto;
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
    .menu-trigger span::before, .menu-trigger span::after {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #F6F6F6;
      position: absolute;
      left: 0;
      -webkit-transition-duration: .3s, .3s;
      transition-duration: .3s, .3s;
      -webkit-transition-delay: .3s, 0;
      transition-delay: .3s, 0; }
    .menu-trigger span::before {
      top: -12px;
      -webkit-transition-property: top, transform;
      transition-property: top, transform; }
    .menu-trigger span::after {
      bottom: -12px;
      -webkit-transition-property: bottom, transform;
      transition-property: bottom, transform; }

.list-dot li, .list-number li {
  position: relative;
  padding-left: 15px;
  line-height: 1.75;
  margin-bottom: 7.5px; }
  .list-dot li::before, .list-number li::before {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #2cabd5;
    position: absolute;
    left: 0; }

.list-dot li::before {
  top: 12px; }

.list-number li {
  padding-left: 31px; }
  .list-number li::before {
    line-height: 21px;
    width: 21px;
    height: 21px;
    top: 0;
    font-size: 0.8125em;
    color: #fff; }
  .list-number li:nth-child(1)::before {
    content: "1"; }
  .list-number li:nth-child(2)::before {
    content: "2"; }
  .list-number li:nth-child(3)::before {
    content: "3"; }
  .list-number li:nth-child(4)::before {
    content: "4"; }
  .list-number li:nth-child(5)::before {
    content: "5"; }
  .list-number li:nth-child(6)::before {
    content: "6"; }
  .list-number li:nth-child(7)::before {
    content: "7"; }
  .list-number li:nth-child(8)::before {
    content: "8"; }
  .list-number li:nth-child(9)::before {
    content: "9"; }
  .list-number li:nth-child(10)::before {
    content: "10"; }
  .list-number li:nth-child(11)::before {
    content: "11"; }
  .list-number li:nth-child(12)::before {
    content: "12"; }

.swiper-slide {
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .swiper-slide img {
    max-width: none;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.swiper-button-prev,
.swiper-button-next {
  width: 15px;
  height: 30px;
  margin-top: -18px;
  -webkit-background-size: 15px 30px;
  background-size: 15px 30px; }
  .swiper-button-prev .swiper.swiper-button-disabled,
  .swiper-button-prev .swiper.swiper-button-disabled,
  .swiper-button-next .swiper.swiper-button-disabled,
  .swiper-button-next .swiper.swiper-button-disabled {
    opacity: 0; }

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23eaeaea'%2F%3E%3C%2Fsvg%3E");
  left: 0; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23eaeaea'%2F%3E%3C%2Fsvg%3E");
  right: 0; }

.btn {
  display: inline-block;
  padding: 15px 40px;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  color: #fff;
  background: #368B39;
  border-radius: 5px;
  font-size: 1.125em;
  line-height: 1.01;
  letter-spacing: 1px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #42b4d9;
    outline-offset: 1px; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65; }
  .btn:hover, .btn:active, .btn.active {
    background-color: #1E7997;
    color: rgba(255, 255, 255, 0.65); }

.btn-primary:hover, .btn-primary:active, .btn-grays:hover, .btn-grays:active, .btn-success:hover, .btn-success:active, .btn-info:hover, .btn-info:active, .btn-warn:hover, .btn-warn:active, .btn-error:hover, .btn-error:active, .btn-oranges:hover, .btn-oranges:active, .btn-primary, .btn-grays, .btn-success, .btn-info, .btn-warn, .btn-error, .btn-oranges {
  color: #fff; }

.btn-primary {
  background-color: #368B39;
  border-color: #2f7931; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #28662a; }

.btn-grays {
  background-color: #F0F1EC;
  border-color: #e4e6dd; }
  .btn-grays:hover, .btn-grays:active {
    background-color: #d9dbcf; }

.btn-success {
  background-color: #14AE11;
  border-color: #11970f; }
  .btn-success:hover, .btn-success:active {
    background-color: #0f800c; }

.btn-info {
  background-color: #1E7997;
  border-color: #1a6882; }
  .btn-info:hover, .btn-info:active {
    background-color: #16576c; }

.btn-warn {
  background-color: #F3991B;
  border-color: #e88d0c; }
  .btn-warn:hover, .btn-warn:active {
    background-color: #d07e0b; }

.btn-error {
  background-color: #C73677;
  border-color: #b3316b; }
  .btn-error:hover, .btn-error:active {
    background-color: #9f2b5f; }

.btn-oranges {
  background-color: #EA6A23;
  border-color: #de5d15; }
  .btn-oranges:hover, .btn-oranges:active {
    background-color: #c75313; }

.hover-underline {
  color: #bebebe;
  position: relative; }
  .hover-underline::before {
    display: block;
    height: 1px;
    width: 100%;
    background: #bebebe;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform .35s ease-out, background .4s;
    transition: transform .35s ease-out, background .4s; }
  .hover-underline:hover::before, .hover-underline:active::before {
    -webkit-transform: scaleY(3);
    transform: scaleY(3); }

#wrapper {
  background: #fff; }

#menu > li:hover > a::before, #menu > li:active > a::before, .AboutUs #menu > li:nth-of-type(1) > a::before, .News #menu > li:nth-of-type(2) > a::before, .Products #menu > li:nth-of-type(3) > a::before, .JoinUs #menu > li:nth-of-type(4) > a::before, .ContactUs #menu > li:nth-of-type(5) > a::before {
  height: 100%; }

.icon-arrow-down::before {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #7B6668;
  position: absolute;
  top: 60%;
  left: 63.7%;
  z-index: 3; }
.icon-arrow-down:hover::before, .icon-arrow-down:active::before, .Products .icon-arrow-down::before {
  border-top-color: #F9C983; }

#menu {
  padding-left: 20%; }
  #menu > li > a {
    padding: 66.33333px 0 35.33333px 0;
    position: relative;
    margin-left: 1px;
    z-index: 2; }
    #menu > li > a::before, #menu > li > a::after {
      display: block;
      position: absolute; }
    #menu > li > a::before {
      -webkit-transition: height 0.5s;
      transition: height 0.5s;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      z-index: -1; }
    #menu > li > a::after {
      background-image: url(../images/icon-menu.png);
      background-repeat: no-repeat;
      width: 25px;
      height: 22px;
      left: 50%;
      top: 26px;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: background 1s;
      transition: background 1s; }
  #menu > li:nth-of-type(1) > a::before, .AboutUs #menu > li:nth-of-type(1) > a::before {
    background-color: #368b39; }
  #menu > li:nth-of-type(1) > a::after, .AboutUs #menu > li:nth-of-type(1) > a::after {
    background-position: 0 0; }
  #menu > li:nth-of-type(2) > a::before, .News #menu > li:nth-of-type(2) > a::before {
    background-color: #80A73D; }
  #menu > li:nth-of-type(2) > a::after, .News #menu > li:nth-of-type(2) > a::after {
    background-position: -187px 0; }
  #menu > li:nth-of-type(3) > a::before, .Products #menu > li:nth-of-type(3) > a::before {
    background-color: #F39311; }
  #menu > li:nth-of-type(3) > a::after, .Products #menu > li:nth-of-type(3) > a::after {
    background-position: -377px 0; }
  #menu > li:nth-of-type(4) > a::before, .JoinUs #menu > li:nth-of-type(4) > a::before {
    background-color: #F36B1F; }
  #menu > li:nth-of-type(4) > a::after, .JoinUs #menu > li:nth-of-type(4) > a::after {
    background-position: -562px 0; }
  #menu > li:nth-of-type(5) > a::before, .ContactUs #menu > li:nth-of-type(5) > a::before {
    background-color: #C73677; }
  #menu > li:nth-of-type(5) > a::after, .ContactUs #menu > li:nth-of-type(5) > a::after {
    background-position: -749px 0; }
  #menu > li:hover > a, #menu > li:active > a, .AboutUs #menu > li:nth-of-type(1) > a, .News #menu > li:nth-of-type(2) > a, .Products #menu > li:nth-of-type(3) > a, .JoinUs #menu > li:nth-of-type(4) > a, .ContactUs #menu > li:nth-of-type(5) > a {
    color: #fff; }
    #menu > li:hover > a::after, #menu > li:active > a::after, .AboutUs #menu > li:nth-of-type(1) > a::after, .News #menu > li:nth-of-type(2) > a::after, .Products #menu > li:nth-of-type(3) > a::after, .JoinUs #menu > li:nth-of-type(4) > a::after, .ContactUs #menu > li:nth-of-type(5) > a::after {
      background-image: url(../images/icon-menu2.png); }

.sub-nav li {
  text-align: left;
  padding: 0 15px;
  margin: 1% -4px;
  border-left: 1px solid #eeeeee; }
  .sub-nav li:first-child {
    border-left: none; }
.sub-nav a {
  line-height: 1.4;
  padding: 6px 10px; }
.sub-nav .title {
  font-size: 1.25em;
  color: #12556D; }
  .sub-nav .title:hover, .sub-nav .title:active {
    color: #368B39; }
.sub-nav a:nth-child(n+2) {
  position: relative;
  font-size: 0.9375em; }
  .sub-nav a:nth-child(n+2)::before {
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #89d18b;
    position: absolute;
    top: 35%;
    left: 5px;
    -webkit-transition: left .3s, opacity .6s;
    transition: left .3s, opacity .6s;
    opacity: 0; }
  .sub-nav a:nth-child(n+2):hover, .sub-nav a:nth-child(n+2):active, .sub-nav a:nth-child(n+2).current {
    color: #368B39; }
    .sub-nav a:nth-child(n+2):hover::before, .sub-nav a:nth-child(n+2):active::before, .sub-nav a:nth-child(n+2).current::before {
      left: -3px;
      opacity: 1; }

.lang-nav {
  position: absolute;
  top: 23px;
  right: 0; }
  .lang-nav a {
    color: #ABACA5;
    font-size: 0.8125em;
    margin-left: 10px; }
    .lang-nav a:hover, .lang-nav a:active {
      color: #1E7997; }

#footer {
  padding: 25px 0 10px;
  text-align: left;
  font-size: 0.9375em; }
  #footer dt {
    color: #14AE11;
    font-size: 1.125em;
    margin-bottom: 15px;
    letter-spacing: 1px; }
  #footer nav {
    padding-left: 30px; }
    #footer nav a {
      display: block;
      margin: 8px 0; }

.contacts {
  padding-right: 30px; }
  .contacts dd {
    margin-bottom: 16px; }
    .contacts dd:nth-of-type(n+3) {
      clear: both; }

.icon-tel, .icon-fax {
  float: left; }
  .icon-tel::before, .icon-fax::before {
    content: "T";
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    background-color: #B2B2B2;
    color: #E4E2D0;
    margin-right: 5px; }

.icon-fax {
  margin-left: 20px; }
  .icon-fax::before {
    content: 'F'; }

.copyright {
  border-top: 1px solid #e4e4e4;
  font-size: 0.75em;
  color: #7F7F7F;
  padding: 10px 30px; }
  .copyright em {
    background: url(../images/logo_s.gif) 0 0 no-repeat;
    width: 41px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }

#banner {
  height: 460px; }

#main {
  margin: 13px;
  padding-bottom: 135px;
  min-height: 553px; }
  #main::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/index/main.jpg) right 0 no-repeat;
    width: 78.8%;
    max-width: 1061px;
    height: 553px; }

#slider {
  height: 212px; }
  #slider header, #slider h3, #slider p {
    position: absolute;
    left: 50%; }
  #slider header {
    font-size: 4.375em;
    color: #14AE11;
    top: 50%;
    margin-left: -357px; }
  #slider h3 {
    color: #104253;
    margin-left: -352px; }
  #slider p {
    font-size: 1.375em;
    color: #165a71;
    top: 14%;
    margin-left: 20px; }

.sidebar {
  position: relative; }
  .sidebar::before {
    display: block;
    position: absolute;
    right: 70%;
    bottom: 11px;
    left: 0;
    background: url(../images/index/icon-plug.gif) right center no-repeat;
    height: 24px; }
  .sidebar ul {
    margin-bottom: 60px;
    margin-left: 20px; }
  .sidebar li {
    margin: 20px 0 35px;
    font-size: 1.125em; }
    .sidebar li a::after {
      content: "...";
      display: inline-block;
      margin-left: 3px; }
    .sidebar li a:hover, .sidebar li a:active {
      color: #228aac; }
  .sidebar em {
    display: block;
    color: #17c513;
    font-style: normal;
    font-size: 0.88889em;
    margin-bottom: 10px; }
