html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  color: #4C4C4C;
  background: #fff; }

a {
  color: #4C4C4C;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.current {
    color: #228aac; }
  a:focus {
    outline: none; }

img {
  vertical-align: middle; }
  img.float-l {
    margin-right: 25px;
    margin-bottom: 25px; }
  img.float-r {
    margin-left: 25px;
    margin-bottom: 25px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #114657;
  margin-bottom: 0.625em; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 4.375em; }

h3 {
  font-size: 2.4375em; }

h4 {
  font-size: 2.0625em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  line-height: 1.5; }
  p + p {
    margin-top: 1em; }

strong {
  font-size: 1.0625em;
  color: #368B39; }

mark {
  background-color: #fbdaac;
  padding: .2em; }

.mark {
  background-color: #ffffe0; }

hr {
  height: 0;
  border: none;
  margin: 2.4em 0; }
  hr.line {
    border: 0;
    border-top: 1px solid #EAEFDE; }

.wrap::after, #header::after, #footer::after, #main::after, .clearfix::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .clearfix::after, #header::before, #menu a::before, .list-dot li::before, .hover-underline::before, .motion::before, .content::after, .sidebar::before {
    content: ''; }

.icon-tel::before, .icon-fax::before, .circle, .list-dot li::before {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49%; }

.logo, .copyright em, .menu-trigger, .goTop, .animate {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.list-inline, .list-unstyled, .list-dot, .swiper-wrapper {
  list-style: none; }

.list-inline > li {
  display: inline-block; }

.goTop {
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #wrapper {
  max-width: 1360px;
  margin: 0 45px; }
  @media (min-width: 87.5em) {
    .wrap, #wrapper {
      margin: 0 auto; } }
  @media (max-width: 74.9375em) {
    .wrap, #wrapper {
      margin: 0; } }

@media (max-width: 74.9375em) {
  .wrap, #header, #footer, #main {
    padding-left: 15px;
    padding-right: 15px; } }

html, body {
  text-align: center;
  height: 100%; }

#wrapper, #header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 239px; }

#header {
  height: 130px;
  z-index: 4; }
  #header::before {
    display: block;
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    background: false;
    height: 94px; }
  @media (max-width: 61.1875em) {
    #header {
      height: 85px; }
      #header::before {
        top: 0;
        height: 85px; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 11;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 131px;
  height: 86px;
  position: absolute;
  top: 16%;
  left: 2%; }
  @media (max-width: 61.1875em) {
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-size: contain;
      height: 85%; } }

#footer {
  background: #f1f1f1;
  color: #323232;
  min-height: 239px;
  margin-top: -239px;
  z-index: 1;
  text-align: left;
  font-size: 0.9375em;
  padding-top: 25px; }
  #footer dt {
    color: #14AE11;
    font-size: 1.125em;
    margin-bottom: 15px;
    letter-spacing: 1px; }

.foot-nav a {
  display: block;
  margin: 8px 0; }
  @media (max-width: 29.9375em) {
    .foot-nav a {
      display: inline-block;
      margin: 5px 0;
      padding: 0 7px;
      border-left: 1px solid #ccc; }
      .foot-nav a:first-child {
        padding-left: 0;
        border-left: none; } }
@media (max-width: 29.9375em) {
  .foot-nav dl {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 15px; }
  #footer .foot-nav dt {
    margin-bottom: 0; } }

.contacts dd {
  margin-bottom: 15px; }
  .contacts dd:nth-of-type(n+3) {
    clear: both; }
  @media (max-width: 29.9375em) {
    .contacts dd {
      margin-bottom: 10px; } }
@media (max-width: 48em) {
  .contacts {
    margin-left: 0;
    padding-left: 24px; } }

.icon-tel, .icon-fax {
  float: left; }
  @media (max-width: 61.1875em) {
    .icon-tel, .icon-fax {
      float: none; } }
  .icon-tel::before, .icon-fax::before {
    content: "T";
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    background-color: #B2B2B2;
    color: #E4E2D0;
    margin-right: 5px; }

.icon-fax {
  margin-left: 20px; }
  @media (max-width: 61.1875em) {
    .icon-fax {
      margin-left: 0; } }
  .icon-fax::before {
    content: 'F'; }

.copyright {
  border-top: 1px solid #e4e4e4;
  font-size: 0.75em;
  color: #7F7F7F;
  padding: 10px 0; }
  .copyright em {
    background: url(../images/logo_s.gif) 0 0 no-repeat;
    width: 41px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }

#menu {
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  height: 94px;
  padding-left: 187px;
  z-index: 10; }
  #menu i {
    color: #ddd;
    font-size: 1.0625em;
    position: absolute;
    top: 13.5%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: color 1s;
    transition: color 1s; }
    @media (max-width: 61.1875em) {
      #menu i {
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: auto;
        top: 50%;
        margin-left: -50px;
        color: rgba(255, 255, 255, 0.4);
        font-size: 0.96667em; } }
  #menu a {
    display: block;
    float: left;
    position: relative;
    color: #392f36;
    font-size: 1.3125em;
    letter-spacing: 1px;
    padding-top: 46.5px;
    margin-left: 1px;
    width: 16.55667%;
    height: 94px;
    z-index: 2; }
    @media (min-width: 61.25em) and (max-width: 75em) {
      #menu a {
        width: 16.50667%; } }
    @media (max-width: 61.1875em) {
      #menu a {
        float: none;
        margin: auto;
        width: 75%;
        height: auto;
        line-height: 74px;
        padding: 0;
        font-size: 1.75em;
        color: #fff; } }
    #menu a::before {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transition: height 0.5s, background 0.8s;
      transition: height 0.5s, background 0.8s;
      width: 100%;
      height: 5px;
      z-index: -1; }
      @media (max-width: 61.1875em) {
        #menu a::before {
          height: 1px; } }
    #menu a:nth-of-type(1)::before, .AboutUs #menu a:nth-of-type(1)::before {
      background-color: #368b39; }
    #menu a:nth-of-type(2)::before, .News #menu a:nth-of-type(2)::before {
      background-color: #80A73D; }
    #menu a:nth-of-type(3)::before, .Products #menu a:nth-of-type(3)::before {
      background-color: #F39311; }
    #menu a:nth-of-type(4)::before, .JoinUs #menu a:nth-of-type(4)::before {
      background-color: #F36B1F; }
    #menu a:nth-of-type(5)::before, .ContactUs #menu a:nth-of-type(5)::before {
      background-color: #C73677; }
    #menu a:nth-of-type(6)::before, .hstech #menu a:nth-of-type(6)::before {
      background-color: #1F9BA3; }
    #menu a:hover, #menu a:active, .AboutUs #menu a:nth-of-type(1), .News #menu a:nth-of-type(2), .Products #menu a:nth-of-type(3), .JoinUs #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5), .hstech #menu a:nth-of-type(6) {
      color: #fff; }
      #menu a:hover::before, #menu a:active::before, .AboutUs #menu a:nth-of-type(1)::before, .News #menu a:nth-of-type(2)::before, .Products #menu a:nth-of-type(3)::before, .JoinUs #menu a:nth-of-type(4)::before, .ContactUs #menu a:nth-of-type(5)::before, .hstech #menu a:nth-of-type(6)::before {
        height: 100%; }
      #menu a:hover i, #menu a:active i, .AboutUs #menu a:nth-of-type(1) i, .News #menu a:nth-of-type(2) i, .Products #menu a:nth-of-type(3) i, .JoinUs #menu a:nth-of-type(4) i, .ContactUs #menu a:nth-of-type(5) i, .hstech #menu a:nth-of-type(6) i {
        color: #F1F1F1; }
  #menu .toggle {
    display: none; }
  @media (max-width: 61.1875em) {
    #menu {
      position: fixed;
      top: 0;
      overflow-y: auto;
      z-index: 12;
      background: rgba(8, 21, 9, 0.9);
      width: 100%;
      height: 100%;
      padding-left: 0;
      overflow-x: hidden;
      visibility: hidden;
      top: -50%;
      opacity: 0;
      padding: 3% 0;
      -webkit-transition: top 0.3s, opacity 1s;
      transition: top 0.3s, opacity 1s; }
      .overlay #menu {
        top: 0;
        visibility: visible;
        opacity: 1; }
      #menu .toggle {
        display: block;
        cursor: pointer;
        cursor: hand;
        z-index: 3;
        color: #fff;
        font-size: 3.125em;
        position: absolute;
        top: 2px;
        right: 2px; }
        #menu .toggle:hover, #menu .toggle:active {
          color: #368B39; } }

.lang-nav {
  position: absolute;
  top: 5px;
  right: 0; }
  @media (max-width: 74.9375em) {
    .lang-nav {
      right: 2%; } }
  @media (max-width: 61.1875em) {
    .lang-nav {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }
  .lang-nav a {
    color: #ABACA5;
    font-size: 0.8125em;
    margin-left: 10px; }
    .lang-nav a:hover, .lang-nav a:active {
      color: #1E7997; }
    @media (max-width: 39.9375em) {
      .lang-nav a {
        display: block;
        margin: 3px 0;
        text-align: left; } }

.overlay {
  overflow: hidden; }

.menu-trigger {
  display: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  left: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 61.1875em) {
    .menu-trigger {
      display: block; } }
  @media (max-width: 30em) {
    .menu-trigger {
      left: 0; } }
  .menu-trigger span::before {
    color: #368B39;
    font-size: 38px; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.img-center {
  display: block;
  margin: auto; }

.margin {
  margin: 16px; }

.margin-top {
  margin-top: 16px; }

.margin-bottom {
  margin-bottom: 16px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-line {
  border-bottom: 1px solid #12556D;
  padding-bottom: 15px; }

.font-sp {
  font-family: "Open Sans", sans-serif; }

.text-white, .bg-primary, .bg-grays, .bg-success, .bg-info, .bg-warn, .bg-error, .bg-oranges {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.text-primary {
  color: #368B39; }

.bg-primary {
  background: #368B39; }

.text-grays {
  color: #F0F1EC; }

.bg-grays {
  background: #F0F1EC; }

.text-success {
  color: #14AE11; }

.bg-success {
  background: #14AE11; }

.text-info {
  color: #1E7997; }

.bg-info {
  background: #1E7997; }

.text-warn {
  color: #F3991B; }

.bg-warn {
  background: #F3991B; }

.text-error {
  color: #C73677; }

.bg-error {
  background: #C73677; }

.text-oranges {
  color: #EA6A23; }

.bg-oranges {
  background: #EA6A23; }

.list-dot li {
  position: relative;
  padding-left: 15px;
  line-height: 1.75; }
  .list-dot li::before {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #2cabd5;
    position: absolute;
    left: 2px; }
  .list-dot li + .list-dot li {
    margin-top: 7.5px; }
  .list-dot li::before {
    top: 12px; }

.swiper-slide {
  text-align: center;
  overflow: hidden;
  width: 100%; }
  .swiper-slide img {
    width: 100%; }

.btn {
  display: inline-block;
  padding: 15px 40px;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  color: #fff;
  background: #368B39;
  border-radius: 5px;
  font-size: 1.125em;
  line-height: 1.01;
  letter-spacing: 1px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #42b4d9;
    outline-offset: 1px; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65; }
  .btn:hover, .btn:active, .btn.active {
    background-color: #1E7997;
    color: rgba(255, 255, 255, 0.65); }

.btn-primary:hover, .btn-primary:active, .btn-grays:hover, .btn-grays:active, .btn-success:hover, .btn-success:active, .btn-info:hover, .btn-info:active, .btn-warn:hover, .btn-warn:active, .btn-error:hover, .btn-error:active, .btn-oranges:hover, .btn-oranges:active, .btn-primary, .btn-grays, .btn-success, .btn-info, .btn-warn, .btn-error, .btn-oranges {
  color: #fff; }

.btn-primary {
  background-color: #368B39;
  border-color: #2f7931; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #28662a; }

.btn-grays {
  background-color: #F0F1EC;
  border-color: #e4e6dd; }
  .btn-grays:hover, .btn-grays:active {
    background-color: #d9dbcf; }

.btn-success {
  background-color: #14AE11;
  border-color: #11970f; }
  .btn-success:hover, .btn-success:active {
    background-color: #0f800c; }

.btn-info {
  background-color: #1E7997;
  border-color: #1a6882; }
  .btn-info:hover, .btn-info:active {
    background-color: #16576c; }

.btn-warn {
  background-color: #F3991B;
  border-color: #e88d0c; }
  .btn-warn:hover, .btn-warn:active {
    background-color: #d07e0b; }

.btn-error {
  background-color: #C73677;
  border-color: #b3316b; }
  .btn-error:hover, .btn-error:active {
    background-color: #9f2b5f; }

.btn-oranges {
  background-color: #EA6A23;
  border-color: #de5d15; }
  .btn-oranges:hover, .btn-oranges:active {
    background-color: #c75313; }

.hover-underline {
  color: #1E7997;
  position: relative; }
  .hover-underline::before {
    display: block;
    height: 1px;
    width: 100%;
    background: #1E7997;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform .35s ease-out, background .4s;
    transition: transform .35s ease-out, background .4s; }
  .hover-underline:hover, .hover-underline:active {
    color: #C73677; }
    .hover-underline:hover::before, .hover-underline:active::before {
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }

.goTop {
  display: none;
  z-index: 99;
  opacity: .65;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: url(../images/goTop.png) 0 0 no-repeat;
  width: 42px;
  height: 42px; }
  .goTop:hover, .goTop:active {
    opacity: 1; }

#main {
  padding-top: 13px;
  padding-bottom: 2.8125em; }

.swiper-slide h2, .swiper-slide h3, .swiper-slide h4 {
  position: absolute;
  left: 50%; }
.swiper-slide:nth-of-type(1) h2 {
  margin-left: -2em;
  top: 38.5%;
  font-size: 4.5em; }
  @media (max-width: 74.9375em) {
    .swiper-slide:nth-of-type(1) h2 {
      font-size: 3.4375em; } }
  @media (max-width: 48em) {
    .swiper-slide:nth-of-type(1) h2 {
      font-size: 2.875em; } }
  @media (max-width: 40em) {
    .swiper-slide:nth-of-type(1) h2 {
      font-size: 2.375em; } }
  @media (max-width: 30em) {
    .swiper-slide:nth-of-type(1) h2 {
      font-size: 1.5625em; } }
  @media (max-width: 20em) {
    .swiper-slide:nth-of-type(1) h2 {
      font-size: 1.125em; } }
.swiper-slide:nth-of-type(1) h3 {
  left: 0;
  right: 0;
  top: 20%;
  font-size: 4.125em;
  letter-spacing: 4px; }
  @media (max-width: 74.9375em) {
    .swiper-slide:nth-of-type(1) h3 {
      font-size: 3.125em; } }
  @media (max-width: 48em) {
    .swiper-slide:nth-of-type(1) h3 {
      font-size: 2.5em; } }
  @media (max-width: 40em) {
    .swiper-slide:nth-of-type(1) h3 {
      font-size: 2.1875em; } }
  @media (max-width: 30em) {
    .swiper-slide:nth-of-type(1) h3 {
      font-size: 1.25em; } }
  @media (max-width: 20em) {
    .swiper-slide:nth-of-type(1) h3 {
      font-size: 1em; } }
.swiper-slide:nth-of-type(1) h4 {
  margin-left: 0.5em;
  top: 7em;
  font-size: 2.1875em; }
  @media (max-width: 74.9375em) {
    .swiper-slide:nth-of-type(1) h4 {
      font-size: 1.5625em; } }
  @media (max-width: 48em) {
    .swiper-slide:nth-of-type(1) h4 {
      font-size: 1.125em; } }
  @media (max-width: 30em) {
    .swiper-slide:nth-of-type(1) h4 {
      font-size: 0.8125em; } }
  @media (max-width: 20em) {
    .swiper-slide:nth-of-type(1) h4 {
      display: none; } }
.swiper-slide:nth-of-type(2) h2 {
  text-align: right;
  top: 25%;
  left: 61%;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.2); }
  @media (max-width: 74.9375em) {
    .swiper-slide:nth-of-type(2) h2 {
      font-size: 3.5em; } }
  @media (max-width: 48em) {
    .swiper-slide:nth-of-type(2) h2 {
      font-size: 2.8125em; } }
  @media (max-width: 40em) {
    .swiper-slide:nth-of-type(2) h2 {
      font-size: 2.375em; } }
  @media (max-width: 30em) {
    .swiper-slide:nth-of-type(2) h2 {
      font-size: 1.75em; } }
  @media (max-width: 20em) {
    .swiper-slide:nth-of-type(2) h2 {
      font-size: 1.1875em; } }
.swiper-slide:nth-of-type(2) h3 {
  margin-left: 2.8125em; }
  .swiper-slide:nth-of-type(2) h3.t1 {
    top: 4.375em; }
  .swiper-slide:nth-of-type(2) h3.t2 {
    top: 5.9375em; }
  .swiper-slide:nth-of-type(2) h3.t3 {
    top: 7.5em; }
  @media (max-width: 74.9375em) {
    .swiper-slide:nth-of-type(2) h3 {
      font-size: 1.75em; } }
  @media (max-width: 48em) {
    .swiper-slide:nth-of-type(2) h3 {
      font-size: 1.3125em; } }
  @media (max-width: 30em) {
    .swiper-slide:nth-of-type(2) h3 {
      font-size: 0.875em; } }
  @media (max-width: 20em) {
    .swiper-slide:nth-of-type(2) h3 {
      font-size: 0.6875em; } }
.swiper-slide:nth-of-type(3) h2 {
  font-size: 3.4375em;
  letter-spacing: 3px; }
  .swiper-slide:nth-of-type(3) h2.t1 {
    top: 14%;
    margin-left: -7.8125em; }
    @media (max-width: 20em) {
      .swiper-slide:nth-of-type(3) h2.t1 {
        margin-left: -9.375em; } }
  .swiper-slide:nth-of-type(3) h2.t2 {
    top: 28%;
    margin-left: -8.9375em; }
    @media (max-width: 20em) {
      .swiper-slide:nth-of-type(3) h2.t2 {
        margin-left: -10em; } }
  @media (max-width: 74.9375em) {
    .swiper-slide:nth-of-type(3) h2 {
      font-size: 2.625em; } }
  @media (max-width: 48em) {
    .swiper-slide:nth-of-type(3) h2 {
      font-size: 2.0625em; } }
  @media (max-width: 40em) {
    .swiper-slide:nth-of-type(3) h2 {
      font-size: 1.5625em; } }
  @media (max-width: 30em) {
    .swiper-slide:nth-of-type(3) h2 {
      font-size: 1.3125em; } }
  @media (max-width: 20em) {
    .swiper-slide:nth-of-type(3) h2 {
      font-size: 0.875em; } }

.animate {
  position: absolute; }

.wind {
  background: url(../images/index/wind.png?v=6) center center no-repeat;
  background-size: contain;
  top: 39%;
  width: 35%;
  height: 35%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: wind-circle 3s linear infinite;
  animation: wind-circle 3s linear infinite; }
@-webkit-keyframes wind-circle {
  0% {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes wind-circle {
  0% {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.w1 {
  left: 11.3%; }

.w2 {
  animation-duration: 3.5s;
  left: -9.5%; }

.motion {
  overflow: hidden;
  width: 6.6%;
  height: 9%; }
  .motion::before {
    display: block;
    background: url(../images/index/car.png?v=1) 0 0 no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-animation: car-ply 3s infinite;
    animation: car-ply 3s infinite; }
@-webkit-keyframes car-ply {
  0% {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  50% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@keyframes car-ply {
  0% {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  50% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
.car {
  top: 49%;
  left: 46.1%; }

.ship {
  top: 34.5%;
  left: 2.2%; }
  .ship::before {
    background-image: url(../images/index/ship.png);
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-duration: 5s; }

.bicycle {
  top: 60%;
  left: 17.1%;
  height: 12%; }
  .bicycle::before {
    background-image: url(../images/index/bicycle.png);
    animation-duration: 8s;
    animation-timing-function: linear; }

.content, .sidebar {
  float: left; }
  @media (max-width: 48em) {
    .content, .sidebar {
      float: none; } }

.content {
  width: 65%;
  background: #E6E6E6 url(../images/index/contentBg.gif) right bottom no-repeat;
  padding-top: 3%;
  padding-bottom: 12%; }
  @media (max-width: 48em) {
    .content {
      width: 100%;
      padding-bottom: 16%; } }
  .content::after {
    display: block;
    background: url(../images/index/pic.png) right top no-repeat;
    background-size: contain;
    height: 60%;
    max-height: 320px;
    position: absolute;
    top: 110px;
    right: 26.5%;
    left: 0; }
    @media (min-width: 75em) {
      .content::after {
        height: 100%;
        right: 25.9%; } }
    @media (max-width: 74.9375em) {
      .content::after {
        top: 160px;
        left: 13px; } }
    @media (max-width: 48em) {
      .content::after {
        top: 120px;
        right: 13px;
        bottom: none;
        background-position: 0 0;
        background-size: cover;
        height: 42.4%; } }
    @media (max-width: 40em) {
      .content::after {
        height: 38.4%; } }
    @media (max-width: 30em) {
      .content::after {
        top: 95px;
        height: 28%; } }
  .content h3 {
    color: #104253;
    margin-bottom: 0; }
    @media (max-width: 48em) {
      .content h3 {
        font-size: 2em; } }
    @media (max-width: 30em) {
      .content h3 {
        font-size: 1.625em; } }
  .content p {
    font-size: 1.8125em;
    color: #165a71;
    margin-left: 15px; }
    @media (max-width: 74.9375em) {
      .content p {
        margin-top: 15px; } }
    @media (max-width: 48em) {
      .content p {
        font-size: 1.625em; } }
    @media (max-width: 30em) {
      .content p {
        font-size: 1.1875em; } }
  .content h3, .content p {
    display: inline; }
    @media (max-width: 74.9375em) {
      .content h3, .content p {
        display: block;
        margin-left: 0; } }

.sidebar {
  width: 35%;
  position: relative; }
  @media (max-width: 48em) {
    .sidebar {
      width: 100%;
      margin-top: 60px; } }
  .sidebar::before {
    display: block;
    background: url(../images/index/icon-plug.png) right center no-repeat;
    height: 24px;
    position: absolute;
    right: 74%;
    bottom: 11px;
    left: 0; }
    @media (max-width: 61.1875em) {
      .sidebar::before {
        display: none; } }
  .sidebar ul {
    margin-bottom: 50px;
    margin-left: 20px; }
    @media (max-width: 48em) {
      .sidebar ul {
        margin-bottom: 20px; } }
  .sidebar li {
    margin: 24px 0;
    font-size: 1.125em; }
    .sidebar li a:hover, .sidebar li a:active {
      color: #228aac; }
    .sidebar li a::after {
      content: "...";
      display: inline-block;
      margin-left: 3px; }
  .sidebar em {
    display: block;
    color: #17c513;
    font-style: normal;
    font-size: 0.88889em;
    margin-bottom: 8px; }
