html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  color: #4C4C4C;
  background: #fff; }

a {
  color: #4C4C4C;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.current {
    color: #228aac; }
  a:focus {
    outline: none; }

img {
  vertical-align: middle; }
  img.float-l {
    margin-right: 25px;
    margin-bottom: 25px; }
  img.float-r {
    margin-left: 25px;
    margin-bottom: 25px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Verdana, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #44b048;
  margin-bottom: 0.625em; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  line-height: 1.5; }
  p + p {
    margin-top: 1em; }

strong {
  font-size: 1.0625em;
  color: #368B39; }

mark {
  background-color: #fbdaac;
  padding: .2em; }

.mark {
  background-color: #ffffe0; }

hr {
  height: 0;
  border: none;
  margin: 2.4em 0; }
  hr.line {
    border: 0;
    border-top: 1px solid #EAEFDE; }

.wrap::after, #header::after, #footer::after, #main::after, .clearfix::after, .pro-nav::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .clearfix::after, .pro-nav::after, #header::before, #menu a::before, .list-dot li::before, .hover-underline::before, .pro-nav li::before,
  .pro-mobile-nav::before, .pro-nav a::before, .pro-mobile-nav span::before {
    content: ''; }

.icon-tel::before, .icon-fax::before, .circle, .list-dot li::before, .catalog a {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49%; }

.logo, .copyright em, .menu-trigger, .goTop, .icon-triangle, .icon-cross-img, .icon-circle, .icon-circle-d {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.list-inline, .breadcrumb, .tabs, .list-unstyled, .list-dot, .swiper-wrapper, .pro-nav, .pic-list, .pic-list-half {
  list-style: none; }

.list-inline > li, .breadcrumb > li, .tabs > li {
  display: inline-block; }

.catalog a {
  display: inline-block;
  vertical-align: middle; }

.goTop, figcaption {
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

/*      table
-----------------------------------------------------------------------*/
table {
  margin-bottom: 20px;
  border-collapse: collapse;
  color: #12556D;
  font-size: 1.0625em;
  line-height: 1.5; }

tbody {
  border-bottom: 1px solid #E4E5DC; }

th, td {
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #E4E5DC;
  padding: 15px; }

th {
  color: #1E7997;
  font-weight: normal; }

td.item {
  color: #7F7F7F; }

.borded {
  border: 1px solid #E4E5DC; }
  .borded th, .borded td {
    border: 1px solid #E4E5DC; }

tr:hover {
  background-color: #f6f6f6; }
  tr:hover td {
    background-color: #f6f6f6; }

caption {
  padding-bottom: 30px;
  color: #4C4C4C;
  font-size: 1.25em;
  line-height: 1.7;
  text-align: left; }

table.fixed {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all; }

.table-rwd {
  overflow-x: auto;
  min-height: 0.01%;
  max-width: 1360px; }
  .table-rwd table {
    width: 100%; }
  @media (max-width: 48em) {
    .table-rwd {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .table-rwd table {
        margin-bottom: 0; }
        .table-rwd table th, .table-rwd table td {
          white-space: nowrap; } }

legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: inherit;
  border-bottom: 1px solid; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }
  label[class*="col-"] {
    margin-bottom: 0; }

input[type="radio"], input[type="checkbox"] {
  margin-top: 4px;
  margin-top: 1px \9;
  line-height: normal; }

input[type="search"] {
  box-sizing: border-box; }

input[type="file"], input[type="range"] {
  display: block; }

input[type="range"] {
  width: 100%; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: 1px solid;
  outline: 1px solid #42b4d9;
  outline-offset: 1px; }

select[multiple], select[size] {
  height: auto; }

button {
  background: none;
  border: none; }

output {
  display: block;
  padding-top: 3px;
  font-size: 1em;
  line-height: 1.25;
  color: #555555; }

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  display: block;
  width: 100%;
  color: #555555;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 2px 10px; }
  input:not([type])::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, textarea::-moz-placeholder, input:-ms-input-placeholder:not([type]), input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, textarea:-ms-input-placeholder, input:not([type])::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #C7CBBD; }
  input:not([type])::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1; }
  input:focus:not([type]), input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
    border-color: #89d18b;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(137, 209, 139, 0.6); }
  input[disabled]:not([type]), input[disabled][type="text"], input[disabled][type="password"], input[disabled][type="date"], input[disabled][type="datetime"], input[disabled][type="datetime-local"], input[disabled][type="month"], input[disabled][type="week"], input[disabled][type="email"], input[disabled][type="number"], input[disabled][type="search"], input[disabled][type="tel"], input[disabled][type="time"], input[disabled][type="url"], input[disabled][type="color"], textarea[disabled], input[readonly]:not([type]), input[readonly][type="text"], input[readonly][type="password"], input[readonly][type="date"], input[readonly][type="datetime"], input[readonly][type="datetime-local"], input[readonly][type="month"], input[readonly][type="week"], input[readonly][type="email"], input[readonly][type="number"], input[readonly][type="search"], input[readonly][type="tel"], input[readonly][type="time"], input[readonly][type="url"], input[readonly][type="color"], textarea[readonly], fieldset[disabled] input:not([type]), fieldset[disabled] input[type="text"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="week"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="color"], fieldset[disabled] textarea {
    background-color: #eeeeee;
    opacity: 1; }
  input[disabled]:not([type]), input[disabled][type="text"], input[disabled][type="password"], input[disabled][type="date"], input[disabled][type="datetime"], input[disabled][type="datetime-local"], input[disabled][type="month"], input[disabled][type="week"], input[disabled][type="email"], input[disabled][type="number"], input[disabled][type="search"], input[disabled][type="tel"], input[disabled][type="time"], input[disabled][type="url"], input[disabled][type="color"], textarea[disabled], fieldset[disabled] input:not([type]), fieldset[disabled] input[type="text"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="week"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="color"], fieldset[disabled] textarea {
    cursor: not-allowed; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
  height: 38px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 38px; } }
*[disabled], .disabled {
  cursor: not-allowed; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #wrapper {
  max-width: 1360px;
  margin: 0 45px; }
  @media (min-width: 87.5em) {
    .wrap, #wrapper {
      margin: 0 auto; } }
  @media (max-width: 74.9375em) {
    .wrap, #wrapper {
      margin: 0; } }

@media (max-width: 74.9375em) {
  .wrap, #header, #footer, #main {
    padding-left: 15px;
    padding-right: 15px; } }

html, body {
  text-align: center;
  height: 100%; }

#wrapper, #header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 264px; }

#header {
  height: 130px;
  z-index: 4; }
  #header::before {
    display: block;
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    background: false;
    height: 94px; }
  @media (max-width: 61.1875em) {
    #header {
      height: 85px; }
      #header::before {
        top: 0;
        height: 85px; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 11;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 131px;
  height: 86px;
  position: absolute;
  top: 16%;
  left: 2%; }
  @media (max-width: 61.1875em) {
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-size: contain;
      height: 85%; } }
  .logo.cn {
    background-image: url(../images/logo-CN.gif); }

#footer {
  background: #f1f1f1;
  color: #323232;
  min-height: 239px;
  margin-top: -239px;
  z-index: 1;
  text-align: left;
  font-size: 0.9375em;
  padding-top: 25px; }
  #footer dt {
    color: #14AE11;
    font-size: 1.125em;
    margin-bottom: 15px;
    letter-spacing: 1px; }

@media (max-width: 48em) {
  .foot-nav {
    margin-left: 0; } }
.foot-nav a {
  display: block;
  margin: 8px 0; }
  @media (max-width: 29.9375em) {
    .foot-nav a {
      display: inline-block;
      margin: 5px 0;
      padding: 0 7px;
      border-left: 1px solid #ccc; }
      .foot-nav a:first-child {
        padding-left: 0;
        border-left: none; } }
@media (max-width: 29.9375em) {
  .foot-nav dl {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 15px;
    margin-left: 0; }
  #footer .foot-nav dt {
    margin-bottom: 0; } }

.contacts dd {
  margin-bottom: 15px; }
  .contacts dd:nth-of-type(n+3) {
    clear: both; }
  @media (max-width: 29.9375em) {
    .contacts dd {
      margin-bottom: 10px; } }
@media (max-width: 48em) {
  .contacts {
    margin-left: 0; } }

.icon-tel, .icon-fax {
  float: left; }
  @media (max-width: 61.1875em) {
    .icon-tel, .icon-fax {
      float: none; } }
  .icon-tel::before, .icon-fax::before {
    content: "T";
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    background-color: #B2B2B2;
    color: #E4E2D0;
    margin-right: 5px; }

.icon-fax {
  margin-left: 20px; }
  @media (max-width: 61.1875em) {
    .icon-fax {
      margin-left: 0; } }
  .icon-fax::before {
    content: 'F'; }

.copyright {
  border-top: 1px solid #e4e4e4;
  font-size: 0.75em;
  color: #7F7F7F;
  padding: 10px 0; }
  .copyright em {
    background: url(../images/logo_s.gif) 0 0 no-repeat;
    width: 41px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }

#menu {
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  height: 94px;
  padding-left: 187px;
  z-index: 10; }
  #menu i {
    color: #ddd;
    font-size: 1.0625em;
    position: absolute;
    top: 13.5%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: color 1s;
    transition: color 1s; }
    @media (max-width: 61.1875em) {
      #menu i {
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: auto;
        top: 50%;
        margin-left: -50px;
        color: rgba(255, 255, 255, 0.4);
        font-size: 0.9666666667em; } }
  #menu a {
    display: block;
    float: left;
    position: relative;
    color: #392f36;
    font-size: 1.3125em;
    letter-spacing: 1px;
    padding-top: 46.5px;
    margin-left: 1px;
    width: 16.5566666667%;
    height: 94px;
    z-index: 2; }
    [lang='en'] #menu a {
      font-size: 1.125em;
      padding-top: 43.5px; }
    @media (min-width: 61.25em) and (max-width: 75em) {
      #menu a {
        width: 16.5066666667%; } }
    @media (max-width: 61.1875em) {
      #menu a {
        float: none;
        margin: auto;
        width: 75%;
        height: auto;
        line-height: 74px;
        padding: 0;
        font-size: 1.75em;
        color: #fff; } }
    #menu a::before {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-transition: height 0.5s, background 0.8s;
      transition: height 0.5s, background 0.8s;
      width: 100%;
      height: 5px;
      z-index: -1; }
      @media (max-width: 61.1875em) {
        #menu a::before {
          height: 1px; } }
    #menu a:nth-of-type(1)::before, .AboutUs #menu a:nth-of-type(1)::before {
      background-color: #368b39; }
    #menu a:nth-of-type(2)::before, .News #menu a:nth-of-type(2)::before {
      background-color: #80A73D; }
    #menu a:nth-of-type(3)::before, .Products #menu a:nth-of-type(3)::before {
      background-color: #F39311; }
    #menu a:nth-of-type(4)::before, .JoinUs #menu a:nth-of-type(4)::before {
      background-color: #F36B1F; }
    #menu a:nth-of-type(5)::before, .ContactUs #menu a:nth-of-type(5)::before {
      background-color: #C73677; }
    #menu a:nth-of-type(6)::before, .hstech #menu a:nth-of-type(6)::before {
      background-color: #1F9BA3; }
    #menu a:hover, #menu a:active, .AboutUs #menu a:nth-of-type(1), .News #menu a:nth-of-type(2), .Products #menu a:nth-of-type(3), .JoinUs #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5), .hstech #menu a:nth-of-type(6) {
      color: #fff; }
      #menu a:hover::before, #menu a:active::before, .AboutUs #menu a:nth-of-type(1)::before, .News #menu a:nth-of-type(2)::before, .Products #menu a:nth-of-type(3)::before, .JoinUs #menu a:nth-of-type(4)::before, .ContactUs #menu a:nth-of-type(5)::before, .hstech #menu a:nth-of-type(6)::before {
        height: 100%; }
      #menu a:hover i, #menu a:active i, .AboutUs #menu a:nth-of-type(1) i, .News #menu a:nth-of-type(2) i, .Products #menu a:nth-of-type(3) i, .JoinUs #menu a:nth-of-type(4) i, .ContactUs #menu a:nth-of-type(5) i, .hstech #menu a:nth-of-type(6) i {
        color: #F1F1F1; }
  #menu .toggle {
    display: none; }
  @media (max-width: 61.1875em) {
    #menu {
      position: fixed;
      top: 0;
      overflow-y: auto;
      z-index: 12;
      background: rgba(8, 21, 9, 0.9);
      width: 100%;
      height: 100%;
      padding-left: 0;
      overflow-x: hidden;
      visibility: hidden;
      top: -50%;
      opacity: 0;
      padding: 3% 0;
      -webkit-transition: top 0.3s, opacity 1s;
      transition: top 0.3s, opacity 1s; }
      .overlay #menu {
        top: 0;
        visibility: visible;
        opacity: 1; }
      #menu .toggle {
        display: block;
        cursor: pointer;
        cursor: hand;
        z-index: 3;
        color: #fff;
        font-size: 3.125em;
        position: absolute;
        top: 2px;
        right: 2px; }
        #menu .toggle:hover, #menu .toggle:active {
          color: #368B39; } }

.lang-nav {
  position: absolute;
  top: 5px;
  right: 0; }
  @media (max-width: 74.9375em) {
    .lang-nav {
      right: 2%; } }
  @media (max-width: 61.1875em) {
    .lang-nav {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }
  .lang-nav a {
    color: #ABACA5;
    font-size: 0.8125em;
    margin-left: 10px; }
    [lang='en'] .lang-nav a {
      font-size: 0.75em; }
      @media (max-width: 61.1875em) {
        [lang='en'] .lang-nav a {
          margin-left: 2px;
          transform: scale(0.8); } }
    .lang-nav a:hover, .lang-nav a:active {
      color: #1E7997; }
    @media (max-width: 39.9375em) {
      .lang-nav a {
        display: block;
        margin: 3px 0;
        text-align: left; } }

.overlay {
  overflow: hidden; }

.menu-trigger {
  display: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  left: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 61.1875em) {
    .menu-trigger {
      display: block; } }
  @media (max-width: 30em) {
    .menu-trigger {
      left: 0; } }
  .menu-trigger span::before {
    color: #368B39;
    font-size: 38px; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.img-center {
  display: block;
  margin: auto; }

.margin {
  margin: 16px; }

.margin-top {
  margin-top: 16px; }

.margin-bottom {
  margin-bottom: 16px; }

.text-left, .tab-content {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-line {
  border-bottom: 1px solid #12556D;
  padding-bottom: 15px; }

.font-sp {
  font-family: "Open Sans", sans-serif; }

.text-white, .bg-primary, .bg-grays, .bg-success, .bg-info, .bg-warn, .bg-error, .bg-oranges {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.text-primary {
  color: #368B39; }

.bg-primary {
  background: #368B39; }

.text-grays {
  color: #F0F1EC; }

.bg-grays {
  background: #F0F1EC; }

.text-success {
  color: #14AE11; }

.bg-success {
  background: #14AE11; }

.text-info {
  color: #1E7997; }

.bg-info {
  background: #1E7997; }

.text-warn {
  color: #F3991B; }

.bg-warn {
  background: #F3991B; }

.text-error {
  color: #C73677; }

.bg-error {
  background: #C73677; }

.text-oranges {
  color: #EA6A23; }

.bg-oranges {
  background: #EA6A23; }

.list-dot li {
  position: relative;
  padding-left: 15px;
  line-height: 1.75; }
  .list-dot li::before {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #2cabd5;
    position: absolute;
    left: 2px; }
  .list-dot li + .list-dot li {
    margin-top: 7.5px; }
  .list-dot li::before {
    top: 12px; }

.swiper-slide {
  text-align: center;
  overflow: hidden;
  width: 100%; }
  .swiper-slide img {
    width: 100%; }

.swiper-button-prev,
.swiper-button-next {
  width: 15px;
  height: 30px;
  margin-top: -18px;
  -webkit-background-size: 15px 30px;
  background-size: 15px 30px; }
  .swiper-button-prev .swiper.swiper-button-disabled,
  .swiper-button-prev .swiper.swiper-button-disabled,
  .swiper-button-next .swiper.swiper-button-disabled,
  .swiper-button-next .swiper.swiper-button-disabled {
    opacity: 0; }

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23eaeaea'%2F%3E%3C%2Fsvg%3E");
  left: 0; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23eaeaea'%2F%3E%3C%2Fsvg%3E");
  right: 0; }

.btn {
  display: inline-block;
  padding: 15px 40px;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  color: #fff;
  background: #368B39;
  border-radius: 5px;
  font-size: 1.125em;
  line-height: 1.01;
  letter-spacing: 1px; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #42b4d9;
    outline-offset: 1px; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65; }
  .btn:hover, .btn:active, .btn.active {
    background-color: #1E7997;
    color: rgba(255, 255, 255, 0.65); }

.btn-primary:hover, .btn-primary:active, .btn-grays:hover, .btn-grays:active, .btn-success:hover, .btn-success:active, .btn-info:hover, .btn-info:active, .btn-warn:hover, .btn-warn:active, .btn-error:hover, .btn-error:active, .btn-oranges:hover, .btn-oranges:active, .btn-primary, .btn-grays, .btn-success, .btn-info, .btn-warn, .btn-error, .btn-oranges {
  color: #fff; }

.btn-primary {
  background-color: #368B39;
  border-color: #2f7931; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #28662a; }

.btn-grays {
  background-color: #F0F1EC;
  border-color: #e4e6dd; }
  .btn-grays:hover, .btn-grays:active {
    background-color: #d9dbcf; }

.btn-success {
  background-color: #14AE11;
  border-color: #11970f; }
  .btn-success:hover, .btn-success:active {
    background-color: #0f800c; }

.btn-info {
  background-color: #1E7997;
  border-color: #1a6882; }
  .btn-info:hover, .btn-info:active {
    background-color: #16576c; }

.btn-warn {
  background-color: #F3991B;
  border-color: #e88d0c; }
  .btn-warn:hover, .btn-warn:active {
    background-color: #d07e0b; }

.btn-error {
  background-color: #C73677;
  border-color: #b3316b; }
  .btn-error:hover, .btn-error:active {
    background-color: #9f2b5f; }

.btn-oranges {
  background-color: #EA6A23;
  border-color: #de5d15; }
  .btn-oranges:hover, .btn-oranges:active {
    background-color: #c75313; }

.hover-underline {
  color: #1E7997;
  position: relative; }
  .hover-underline::before {
    display: block;
    height: 1px;
    width: 100%;
    background: #1E7997;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform .35s ease-out, background .4s;
    transition: transform .35s ease-out, background .4s; }
  .hover-underline:hover, .hover-underline:active {
    color: #C73677; }
    .hover-underline:hover::before, .hover-underline:active::before {
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }

.goTop {
  display: none;
  z-index: 99;
  opacity: .65;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: url(../images/goTop.png) 0 0 no-repeat;
  width: 42px;
  height: 42px; }
  .goTop:hover, .goTop:active {
    opacity: 1; }

#main {
  padding: 15px 0; }
  @media (max-width: 74.9375em) {
    #main {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 30em) {
    #main {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 40em) {
    #main h1 {
      font-size: 2.0625em;
      line-height: 1.5; }
      #main h1 small {
        display: block; } }
  #main h3 {
    color: #4C4C4C; }
  #main h5 {
    color: #C73677; }
  #main p {
    margin-bottom: 15px; }
  #main img {
    max-width: 100%; }
  #main .table-rwd img {
    max-width: auto; }

.breadcrumb {
  text-align: left;
  font-size: 0.9375em;
  color: #7f7f7f;
  margin-bottom: 30px; }
  .breadcrumb li {
    margin-right: 10px; }
  .breadcrumb a {
    color: #368B39; }
    .breadcrumb a::after {
      content: "/";
      margin-left: 3px;
      color: #dfdfdf; }

.hover-underline {
  color: #1E7997;
  position: relative; }
  .hover-underline::before {
    display: block;
    height: 1px;
    width: 100%;
    background: #1E7997;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform .35s ease-out, background .4s;
    transition: transform .35s ease-out, background .4s; }
  .hover-underline:hover, .hover-underline:active {
    color: #C73677; }
    .hover-underline:hover::before, .hover-underline:active::before {
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }

.label {
  color: #fff;
  background: #1E7997;
  border-radius: 4px;
  font-size: 0.8125em;
  display: inline;
  padding: 3px 8px; }

figcaption, figure > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin: 2% 1%;
  text-align: left;
  border: 1px solid #f1f1f1;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s; }
  figure img {
    position: relative;
    width: 100%; }
  figure > a {
    z-index: 19;
    white-space: nowrap;
    opacity: 0; }
  @media (max-width: 48em) {
    figure {
      width: 48%;
      max-width: none;
      margin: 2% .5%;
      margin-bottom: 15px; } }
  @media (max-width: 30em) {
    figure {
      width: 100%;
      margin: 2% 0; } }

figcaption {
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }
  figcaption h4, figcaption p {
    margin: 0; }
  figcaption h4 {
    color: #1E7997; }

.tabs {
  background: #f1f1f1;
  padding: 5px 10px;
  margin-bottom: 30px; }
  .Products .tabs {
    margin-top: 8px; }
  @media (max-width: 30em) {
    .tabs {
      text-align: left; } }
  .tabs a {
    display: block;
    color: #727272;
    background: #fff;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 12px 20px;
    outline: none; }
    .tabs a:hover, .tabs a:active {
      color: #fff;
      background: #42b4d9; }
  .tabs li {
    margin: 5px; }
    .tabs li.active a {
      color: #fff;
      background: #1E7997; }
    @media (max-width: 20em) {
      .tabs li {
        display: block; } }

.tabs-main {
  padding-bottom: 40px; }

.tab-content div {
  margin-bottom: 25px; }
.tab-content img {
  height: auto;
  display: block;
  margin: auto;
  width: auto; }

@media (max-width: 48em) {
  #banner img {
    width: auto;
    height: 120px;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@media (max-width: 30em) {
  #banner img {
    height: 90px; } }
@media (max-width: 20em) {
  #banner img {
    height: 70px; } }

.container {
  text-align: left;
  font-size: 0.9375em;
  line-height: 1.5;
  margin-bottom: 30px; }

.pro-nav a:hover, .pro-nav a:active, .pro-mobile-nav span:hover, .pro-mobile-nav span:active, .pro-mobile-nav.active span, .pro-nav li.current a {
  color: #fff; }
  .pro-nav a:hover::before, .pro-nav a:active::before, .pro-mobile-nav span:hover::before, .pro-mobile-nav span:active::before, .pro-mobile-nav.active span::before, .pro-nav li.current a::before {
    width: 100%; }

.pro-nav li,
.pro-mobile-nav {
  border: 4px solid #E6E6E6;
  border-left: none;
  border-radius: 10px;
  padding: 3px;
  padding-left: 10px;
  width: 200px; }
  .pro-nav li::before,
  .pro-mobile-nav::before {
    display: block;
    background: url(../images/Products/sub-nav-bg.gif) 0 center no-repeat;
    width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px; }

.pro-nav a, .pro-mobile-nav span {
  display: block;
  color: #14AE11;
  font-size: 1.625em;
  text-align: center;
  z-index: 3; }
  [lang='en'] .pro-nav a,
  [lang='en'] .pro-mobile-nav span {
    font-size: 1.125em; }
  .pro-nav a::before, .pro-mobile-nav span::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: width 1s;
    transition: width 1s;
    width: 0;
    height: 100%;
    background: #8EBA44;
    border-radius: 4px;
    z-index: -1; }

.pro-mobile-nav {
  display: none;
  cursor: pointer;
  margin: 20px auto; }
  .pro-mobile-nav, .pro-mobile-nav span {
    position: relative; }
  .pro-mobile-nav span {
    line-height: 2; }
  @media (max-width: 30em) {
    .pro-mobile-nav {
      display: block; } }

.pro-nav {
  background: url(../images/Products/sub-nav-bg2.gif) right bottom no-repeat;
  padding-bottom: 10px;
  margin-bottom: 25px;
  position: relative;
  z-index: 2; }
  @media (min-width: 75.0625em) {
    .pro-nav {
      background-position: 850px bottom; } }
  .pro-nav li, .pro-nav a {
    position: relative; }
  .pro-nav li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff; }
    @media (max-width: 74.9375em) {
      .pro-nav li {
        width: 21%;
        margin: 0 3% 2% 0; } }
    @media (max-width: 61.1875em) {
      .pro-nav li {
        width: 46%; } }
  .pro-nav a {
    height: 71px; }
    .pro-nav a span {
      display: block;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  @media (max-width: 30em) {
    .pro-nav {
      display: none;
      background: #fff;
      box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding-bottom: 0; }
      .pro-nav li {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid #f1f1f1;
        border-radius: 0;
        margin: 0;
        padding-left: 3px; }
        .pro-nav li:last-child {
          border: none; }
        .pro-nav li::before {
          display: none; }
      .pro-nav a {
        font-size: 1.25em;
        line-height: 2.2; } }

.catalog {
  margin: 20px 0; }
  @media (max-width: 30em) {
    .catalog h2 {
      text-align: left;
      font-size: 1.4375em; } }
  .catalog a {
    background-image: url(../images/Products/icon-catalog.png);
    background-repeat: no-repeat;
    background-position: -23.5% 15%;
    box-shadow: 5px 5px 2px #f1f1f1;
    font-size: 1.5625em;
    padding-top: 135px;
    margin: 20px 30px;
    width: 256px;
    height: 256px; }
    @media (max-width: 74.9375em) {
      .catalog a {
        width: 250px;
        height: 250px;
        margin: 3% 1%; } }
    @media (max-width: 48em) {
      .catalog a {
        width: 160px;
        height: 160px;
        background-image: none;
        padding: 5% 22px;
        font-size: 1.5625em; } }
    @media (max-width: 30em) {
      .catalog a {
        width: 100%;
        height: auto;
        margin: 2% 0;
        padding: 3% 0;
        border-radius: 10px;
        font-size: 1.25em; } }
    .catalog a:nth-of-type(2) {
      background-position: 47.5% 15%; }
    .catalog a:nth-of-type(3) {
      background-position: 120.5% 15%; }
    .catalog a:hover, .catalog a:active {
      color: #fff; }
      .catalog a:hover:nth-of-type(1), .catalog a:active:nth-of-type(1) {
        background-color: #11970f; }
      .catalog a:hover:nth-of-type(2), .catalog a:active:nth-of-type(2) {
        background-color: #e88d0c; }
      .catalog a:hover:nth-of-type(3), .catalog a:active:nth-of-type(3) {
        background-color: #de5d15; }
    .catalog a.current {
      color: #fff;
      background-color: #7e7e7e; }
  .catalog small {
    display: block;
    margin-bottom: 3px;
    font-size: 68%; }
    @media (max-width: 48em) {
      .catalog small {
        display: none; } }

.uphigh {
  height: 35px; }
  @media (max-width: 87.5em) {
    .uphigh {
      height: 50px; } }
  @media (max-width: 74.9375em) {
    .uphigh {
      height: unset; } }
  @media (max-width: 74.375em) {
    .uphigh {
      height: 30px; } }
  @media (max-width: 48em) {
    .uphigh {
      height: unset; } }

.icon-triangle, .icon-cross-img, .icon-circle, .icon-circle-d {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  background-attachment: fixed;
  background: url(../images/icon-shape.gif) center 0 no-repeat; }

.icon-cross-img {
  background-position: center -78px; }

.icon-circle {
  background-position: center -154px; }

.icon-circle-d {
  background-position: center -233px; }
  .icon-circle-d.text-error {
    background-position: center bottom; }

.AboutUs th, .AboutUs td {
  padding: 8px 15px; }
.AboutUs tr:hover {
  background-color: none; }
  .AboutUs tr:hover td {
    background-color: none; }
.AboutUs tr:nth-of-type(even) {
  background-color: #FFFFef; }

figure:hover {
  box-shadow: 0 0 20px #777777; }
  figure:hover img {
    -webkit-filter: contrast(120%) brightness(105%);
    -moz-filter: contrast(120%) brightness(105%);
    -o-filter: contrast(120%) brightness(105%);
    -ms-filter: contrast(120%) brightness(105%);
    filter: contrast(120%) brightness(105%); }

figcaption {
  position: static;
  background: #fff;
  padding: 10px; }
  figcaption small {
    display: block;
    margin-bottom: 10px;
    color: #368B39; }

.news-panel header {
  font-size: 1.625em;
  font-weight: 100;
  margin-bottom: 15px; }
  .news-panel header small {
    display: block;
    font-size: 60%; }

.pic-list li, .pic-list-half li {
  margin-top: 1%; }

.pic-list-half {
  width: 50%;
  float: left;
  margin-top: 10px; }
  .pic-list-half:nth-of-type(odd) {
    padding-right: 5px; }
  .pic-list-half:nth-of-type(even) {
    padding-left: 5px; }
  @media (max-width: 61.1875em) {
    .pic-list-half {
      width: 100%; }
      .pic-list-half:nth-of-type(odd), .pic-list-half:nth-of-type(even) {
        padding: 0; } }
  .pic-list-half .pic {
    float: left;
    width: 50%;
    padding: 0 5px; }
    .pic-list-half .pic:nth-of-type(2) {
      padding-left: 0; }
    .pic-list-half .pic:nth-of-type(3) {
      padding-right: 0; }
    @media (max-width: 39.9375em) {
      .pic-list-half .pic {
        width: 100%;
        padding: 0; } }

.title {
  display: block;
  width: 100%;
  margin-top: 2%;
  font-size: 1.125em;
  color: #C73677; }
  @media (max-width: 39.9375em) {
    .title {
      text-align: center; } }

.pic-list li {
  float: left;
  width: 25%;
  padding: 5px; }
  @media (max-width: 61.1875em) {
    .pic-list li {
      width: 50%; } }
  @media (max-width: 39.9375em) {
    .pic-list li {
      width: 100%; } }
.pic-list span {
  display: block; }
  @media (max-width: 61.1875em) {
    .pic-list span {
      text-align: center; } }

.contact-form {
  padding: 0;
  padding-right: 20px;
  margin-bottom: 20px; }
  @media (max-width: 61.1875em) {
    .contact-form {
      padding-right: 0; } }
  .contact-form em {
    font-style: normal; }
  .contact-form button {
    margin: 15px 0;
    cursor: pointer; }
  .contact-form .row {
    margin-bottom: 15px; }
    @media (max-width: 30em) {
      .contact-form .row {
        margin-bottom: 0; } }
  @media (max-width: 30em) {
    .contact-form .col-6 {
      width: 100%;
      padding: 0;
      margin-bottom: 10px; } }

.diagonal {
  width: 20%;
  position: relative;
  background: linear-gradient(to top right, transparent 49.5%, #E4E5DC, transparent 50.5%); }
  .diagonal sup, .diagonal sub {
    font-size: 1.0625em;
    position: relative;
    display: block;
    float: left;
    width: 50%;
    line-height: 100%;
    text-align: center; }
  .diagonal sup {
    padding-bottom: 15%; }
  .diagonal sub {
    padding-top: 15%; }
