@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$img-path2:               '../images/index';

$font-size-h2:            70px;
$font-size-h3:            40px;

$swiper-pagination:       false;


// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/extend";
@import "base/classes";

@import "layout/layout";

@import "module/list";
@import "module/slider";
@import "module/btn";
@import "module/hover";

@import "theme/client";


// layout
// ----------------------------------------------------------------------

// == banner
#banner {
    height: 460px;
}


// == main
#main {
    margin: 13px;
    padding-bottom: 135px;

    @include el(before) {
        @include absolute(left 0 top 0);
        background: url(#{$img-path2}/main.jpg) right 0 no-repeat;
        width: 78.8%;
        max-width: 1061px;
        height: 553px;
    }
}
#slider {
    height: 212px;
    header, h3, p {
        @include absolute(left 50%);
    }
    header {
        font-size: em($font-size-h2);
        color: $success;
        top: 50%;
        margin-left: -357px;
    }
    h3 {
        color: darken($brand-secondary, 16%);
        margin-left: -352px;
    }
    p {
        font-size: em(22px);
        color: darken($brand-secondary, 9%);
        top: 14%;
        margin-left: 20px;
    }
}
.sidebar {
    position: relative;
    // padding-left: 20px;

    @include el(before) {
        @include absolute(left 0 right 70% bottom 11px);
        background: url(#{$img-path2}/icon-plug.gif) right center no-repeat;
        height: 24px;
    }

    ul {
        margin-bottom: 60px;
        margin-left: 20px;
    }
    li {
        margin: 20px 0 35px;
        font-size: em(18px);
        a {
            @include el(after, inline-block, '...') {
                margin-left: 3px;
            }

            &:hover, &:active {
                color: lighten($brand-secondary, 5%);
            }
        }
    }
    em {
        display: block;
        color: lighten($success, 5%);
        font-style: normal;
        font-size: em(16px, 18px);
        margin-bottom: 10px;
    }
}