@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$index:                   true;
$img-path2:               '../images/index';

$content-spacing:         0;
$heading-color:           darken(#1E7997, 15%);
$font-size-h2:            70px;
$font-size-h3:            39px;
$font-size-h4:            33px;

$swiper-pagination:       false;
$swiper-button:           false;


// import
// ------------------------------------------------------------
@import "_client/settings";  // 本次專案設定值，可覆蓋掉下面的變數


@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/util";

@import "_client/layout";
@import "_client/main";



// layout
// ----------------------------------------------------------------------
// == banner

.swiper-slide {
    h2, h3, h4 {
        @include absolute(left 50%);
    }
    &:nth-of-type(1) {
        h2 {
            margin-left: -(em(32));
            // top: em(39);
            top: 38.5%;
            font-size: em(72);

            [lang='en'] & {
                margin-left: -(em(10));
            }

            @include mq-max(break(wide,-1)) { font-size: em(55); }
            @include mq-max(tablet) { font-size: em(46); }
            @include mq-max(phone-plus) { font-size: em(38); }
            @include mq-max(phone) { font-size: em(25); }
            @include mq-max(mobile) { font-size: em(18); }
        }
        h3 {
            left: 0; right: 0;
            // top: em(20);
            top: 20%;
            font-size: em(66);
            letter-spacing: 4px;

            @include mq-max(break(wide,-1)) { font-size: em(50); }
            @include mq-max(tablet) { font-size: em(40); }
            @include mq-max(phone-plus) { font-size: em(35); }
            @include mq-max(phone) { font-size: em(20); }
            @include mq-max(mobile) { font-size: em(16); }
        }
        h4 {
            margin-left: em(8);
            top: em(112);
            font-size: em(35);

            @include mq-max(break(wide,-1)) { font-size: em(25px); }
            @include mq-max(tablet) { font-size: em(18); }
            @include mq-max(phone) { font-size: em(13); }
            @include mq-max(mobile) { display: none; }
        }
    }
    &:nth-of-type(2) {
        h2 {
            text-align: right;
            // top: em(15);
            top: 25%;
            left: 61%;
            // margin-left: 10.2%;
            // margin-top: em(12);
            text-shadow: .07em .07em 0 rgba(#000, .2);

            @include mq-max(break(wide,-1)) { font-size: em(56); }
            @include mq-max(tablet) { font-size: em(45); }
            @include mq-max(phone-plus) { font-size: em(38); }
            @include mq-max(phone) { font-size: em(28); }
            @include mq-max(mobile) { font-size: em(19); }
        }
        h3 {
            margin-left: em(45);
            &.t1 { top: em(70); }
            &.t2 { top: em(95); }
            &.t3 { top: em(120); }

            @include mq-max(break(wide,-1)) { font-size: em(28); }
            @include mq-max(tablet) { font-size: em(21); }
            @include mq-max(phone) { font-size: em(14); }
            @include mq-max(mobile) { font-size: em(11); }
        }
    }
    &:nth-of-type(3) {
        h2 {
            font-size: em(55);
            letter-spacing: 3px;

            &.t1 {
                // left: 10.2%;
                // top: em(19px);
                top: 14%;
                margin-left: -(em(125));
                @include mq-max(mobile) { margin-left: -(em(150)); }
            }
            &.t2 {
                // left: 5%;
                // top: em(38px);
                top: 28%;
                margin-left: -(em(143));
                @include mq-max(mobile) { margin-left: -(em(160)); }
            }

            @include mq-max(break(wide,-1)) { font-size: em(42); }
            @include mq-max(tablet) { font-size: em(33); }
            @include mq-max(phone-plus) { font-size: em(25); }
            @include mq-max(phone) { font-size: em(21); }
            @include mq-max(mobile) { font-size: em(14); }
        }
    }
}

.animate {
    @extend %text-hide;
    position: absolute;
}
.wind {
    background: url(#{$img-path2}/wind.png?v=6) center center no-repeat;
    background-size: contain;
    top: 39%;

    @include size(35%);
    @include prefix(transform-origin, center center);
    @include diy-animation (wind-circle, 3s linear infinite) {
        0%   { @include transform(rotate(0)); }
        100% { @include transform(rotate(360deg)); }
    }
}
.w1 { left: 11.3%; }
.w2 { animation-duration: 3.5s; left: -9.5%; }
.motion {
    overflow: hidden;

    @include size(6.6%,9%);

    @include el(before) {
        background: url(#{$img-path2}/car.png?v=1) 0 0 no-repeat;
        background-size: contain;
        @include size(100%);
        @include diy-animation (car-ply, 3s infinite) {
            0%   { @include transform(translateX(100%)); }
            50%  { @include transform(translateX(0)); }
            100% { @include transform(translateX(-100%)); }
        }
    }
}
.car {
    top: 49%; left: 46.1%;
}
.ship {
    top: 34.5%;  left: 2.2%;
    &::before {
        background-image: url(#{$img-path2}/ship.png);
        animation-direction: alternate;
        animation-timing-function: ease-out;
        animation-duration: 5s;
    }
}
.bicycle {
    top: 60%;
    left: 17.1%;
    height: 12%;
    &::before {
        background-image: url(#{$img-path2}/bicycle.png);
        animation-duration: 8s;
        animation-timing-function: linear;
    }
}

// == main
.content, .sidebar {
    @include mq(desktop) {
        float: left;
    }
}

.content {
    background: #E6E6E6 url(#{$img-path2}/contentBg.gif) right bottom no-repeat;
    padding-top: 3%;

    @include mq(desktop) {
        width: 65%;
        padding-bottom: 12%;
    }
    @include mq-max(break(desktop, -1)) {
        background-image: url(#{$img-path2}/main.jpg);
        background-position: 0 bottom;
        background-size: contain;
        padding-bottom: 40%;
    }

    // 下方的插圖
    @include el(after) {
        @include mq(desktop) {
            background: url(#{$img-path2}/pic.png) right top no-repeat;
            background-size: contain;
            height: 100%;

            @include absolute(left 13px right 26.5% top 160px); //  right 26.5%
        }
        @include mq(wide) {
            left: 0;
            right: 25.9%;
            top: 140px;
        }
        @include mq(wider) { // top: 12.5%
            top: 110px;
        }
    }

    // 次世代磷酸錳鐵鋰
    h3 {
        color: darken($brand-secondary, 16%);
        margin-bottom: 0;

        @include mq-max(tablet) { font-size: em(32); }
        @include mq-max(phone) { font-size: em(26); }
    }

    // 奈米‧安全‧高能量密度
    p {
        font-size: em(29);
        color: darken($brand-secondary, 9%);
        margin-left: 15px;

        [lang='en'] & {
            font-size: em(20);
        }

        @include mq-max(break(wide,-1)) { margin-top: 15px; }
        @include mq-max(tablet) { font-size: em(26); }
        @include mq-max(phone) { font-size: em(19); }
    }

    h3, p {
        display: inline;

        @include mq-max(break(wide,-1)) {
            display: block;
            margin-left: 0;
        }
    }
}
.sidebar {
    position: relative;

    @include mq(desktop) {
        width: 35%;
    }
    @include mq-max(break(desktop, -1)) {
        margin-top: -6%;
    }

    // more的插頭icon
    @include el(before) {
        @include mq(desktop) {
            background: url(#{$img-path2}/icon-plug.png) right center no-repeat;
            height: 24px;

            @include absolute(left 0 right 74% bottom 11px);
        }
    }

    ul {
        margin-bottom: 50px;
        margin-left: 20px;

        @include mq-max(tablet) {
            margin-bottom: 20px;
        }
    }
    li {
        margin: 24px 0;
        font-size: em(18px);

        a {
            // display: block;

            &:hover, &:active {
                color: lighten($brand-secondary, 5%);
            }
            @include el(after, inline-block, '...') {
                margin-left: 3px;
            }
        }
    }
    em {
        display: block;
        color: lighten($success, 5%);
        font-style: normal;
        font-size: em(16px, 18px);
        margin-bottom: 8px;
    }
}

