
@{
    ViewBag.Title = "公司簡介";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.breadCrumb = "公司簡介";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">關於泓辰</a></li>
    <li class="js-tab"><a href="#tab-2">公司沿革</a></li>
    <li class="js-tab"><a href="#tab-3">公司組織</a></li>
    <li class="js-tab"><a href="#tab-4">工廠及研發</a></li>
</ul>

<article id="tab-1" class="tab-content">
    <h2>關於泓辰</h2>
    <p>泓辰成立於2015年, 當全球正全力推動節能減碳綠化地球時, 為台灣第一家生產磷酸鋰鐵錳正極材料製造商。伴隨環保節能趨勢, 泓辰於2015年與國際大廠投入新能源事業—磷酸鋰鐵錳正極材料的製造。泓辰是唯一正極材料廠中同時具備「設備研製能力」及「研發能力」的公司。</p>
    <p>高導電網路的磷酸鋰鐵錳正極材料，具有極高的穩定及安全性、快速充放電、可逆能力佳、一致性高及超低溫放電等優勢，近期陸續獲得許多國際一級大廠的高度評價及訂單。</p>
    <p>泓辰公司的母公司(宏瀨科技)擁有十多年粉體設備製造經驗(研磨機、乾燥機等)，藉由設備與製程的不斷改進下，提高生產效率，降低設備成本。於2013年與國際化學大廠共同研發的新世代磷酸鋰鐵錳正極材料，此材料於2014年進入量產，雙方決定進一步合作，共同攜手開發全球市場。</p>
</article>

<article id="tab-2" class="tab-content">
    <h2>公司沿革</h2>
    <table class="half">
        <tr>
            <th class="bg-gray text-error">時間表</th>
            <th class="bg-gray text-error">公司營運</th>
        </tr>
        <tr><td class="item">1997</td><td class="text-left">與日本坂本技研合資「宏坂科技」公司</td></tr>
        <tr><td class="item">2001</td><td class="text-left">成立「宏瀨科技」公司，生產&銷售光學檢測設備</td></tr>
        <tr><td class="item">2004</td><td class="text-left">宏坂、宏瀨公司合併</td></tr>
        <tr><td class="item">2008</td><td class="text-left">公司登錄興櫃</td></tr>
        <tr><td class="item">2009</td><td class="text-left">成立鋰鐵材料處<br>增資至3.5億</td></tr>
        <tr><td class="item">2010</td><td class="text-left">申請進駐新竹科學園區-龍潭基地<br>6月龍潭新廠動工</td></tr>
        <tr><td class="item">2011</td><td class="text-left">增資至4.76億</td></tr>
        <tr><td class="item">2015</td><td class="text-left">成立泓辰電池材料</td></tr>
        <tr><td class="item">2015</td><td class="text-left">成立山東泓辰電池材料</td></tr>
    </table>

    <table class="half">
        <tr>
            <th class="bg-gray text-error">時間表</th>
            <th class="bg-gray text-error">技術研發</th>
        </tr>
        <tr><td class="item">1998</td><td class="text-left">製造世界最大噴霧乾燥機</td></tr>
        <tr><td class="item">2000</td><td class="text-left">設計銷售臥式砂磨機</td></tr>
        <tr><td class="item">2002</td><td class="text-left">於工研院合作開發電將反應器，製造奈米粉末</td></tr>
        <tr><td class="item">2008</td><td class="text-left">完成PIAOI開發</td></tr>
        <tr><td class="item">2003</td><td class="text-left">台灣第一家FPD AOI設備商</td></tr>
        <tr><td class="item">2005</td><td class="text-left">跨足PDP、 G7.5、Marco目檢機開發完成</td></tr>
        <tr><td class="item">2006</td><td class="text-left">膜厚及色度機開發完成</td></tr>
        <tr><td class="item">2007</td><td class="text-left">PDP八面取APO設備開發</td></tr>
        <tr><td class="item">2008</td><td class="text-left">工研院技轉鋰電池材料技術</td></tr>
        <tr><td class="item">2013</td><td class="text-left">與國際大廠共同開發磷酸鋰鐵錳材料</td></tr>
        <tr><td class="item">2015</td><td class="text-left">磷酸鋰鐵錳正式量產</td></tr>
    </table>

    @* <div class="text-center">
        <img src="~/Content/images/AboutUs/pic.jpg" alt="">
    </div>

    <h3>組織</h3> *@

</article>

<article id="tab-3" class="tab-content">
    <h2>公司組織</h2>
    <div class="text-center">
        <img src="~/Content/images/AboutUs/pic2.gif" alt="公司組織">
    </div>
</article>

<article id="tab-4" class="tab-content">
    <h2>工廠及研發</h2>
    <div class="text-center">
        @* <img src="~/Content/images/AboutUs/pic3.jpg" alt=""><br> *@
        <img src="~/Content/images/AboutUs/pic4.jpg" alt=""><br>
        <img src="~/Content/images/AboutUs/pic5.jpg" alt=""><br>
        <img src="~/Content/images/AboutUs/pic6.jpg" alt="">
    </div>
</article>