
@{
    ViewBag.Title = Resources.Web.nav_aboutus;
    ViewBag.BodyClass = "AboutUs";
    ViewBag.breadCrumb = Resources.Web.nav_aboutus;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">About HCM</a></li>
    <li class="js-tab"><a href="#tab-2">Company History</a></li>
    <li class="js-tab"><a href="#tab-3">Company Organization</a></li>
    <li class="js-tab"><a href="#tab-4">Factories and R&D</a></li>
    <li class="js-tab"><a href="#tab-5">Business Development</a></li>
</ul>

<article id="tab-1" class="tab-content">
    <h2>About HCM</h2>
    <p>New energy is one of the most important industries in the world in the future.  Taiwan Industrial Technology Research Institute made technology transfer to the parent company (<a class="hover-underline" href="http://www.hstech.com.tw/" target="_blank">Hirose Tech Co., Ltd</a>) of HCM in 2009 to develop cathode materials (power batteries for electric vehicles). We are the only company with equipment development capabilities in the cathode materials factories and we also became the first company in the world to putLMFP into mass production.</p>
    <p>New energy vehicles will continuously pursue the improvement of endurance, so high voltage NMC will be the direction of future development for cathode materials. However, we still have safety concerns about high voltage NMC. The best solution to this concern is blending: LMFP.</p>
</article>

<article id="tab-2" class="tab-content">
    <h2>Company History</h2>

    <table class="full">
        <tr><td class="item">1997</td><td class="text-left">Co-founded TS Tech with Japan Sakamoto Giken Co.,Ltd to manufacture spray dryers.</td><td><img src="~/Content/images/AboutUs/pic.jpg" alt="TS Tech manufactures spray dryers."></td></tr>
        <tr><td class="item">2000</td><td class="text-left">Design & sell horizontal sand mills.</td><td><img src="~/Content/images/AboutUs/pic_2.jpg" alt="TS Tech sells horizontal sand mills."></td></tr>
        <tr><td class="item">2001</td><td class="text-left">Founded “Hirose Tech Co., Ltd” to manufacture & sell optical inspection equipment. </td><td><img src="~/Content/images/AboutUs/pic_3.jpg" alt="Founded Hirose Tech Co., Ltd, to manufacture & sell optical inspection equipment."></td></tr>
        <tr><td class="item">2004</td><td class="text-left" colspan="2">TS Tech and Hirose Tech Co., Ltd merged.</td></tr>
        <tr><td class="item">2008</td><td class="text-left">Developed LFP and LMFP (technology transferred from Taiwan Industrial Technology Research Institute).</td><td><img src="~/Content/images/AboutUs/pic_4.jpg" alt="Hirose Tech Co., Ltd signed a contact with Taiwan Industrial Technology Research Institute to develop LFP and LMFP."></td></tr>
        <tr><td class="item">2009</td><td class="text-left" colspan="2">Registered for Emerging Stock Issue</td></tr>
        <tr><td class="item">2012</td><td class="text-left">Established Longtan Base in Hsinchu Science Park.</td><td><img src="~/Content/images/AboutUs/pic_5.jpg" alt="Hirose Tech Co., Ltd established Long Tan Factory."></td></tr>
        <tr><td class="item">2013</td><td class="text-left">Cooperated with The Dow Chemical Company to developLMFP.</td><td><img src="~/Content/images/AboutUs/pic_6.jpg" alt="Hirose Tech Co., Ltdsigned a contract with The Dow Chemical Company to developLMFP."></td></tr>
        <tr><td class="item">2014</td><td class="text-left">LMFP is officially put into mass production.</td><td><img src="~/Content/images/AboutUs/pic_7.jpg" alt="Material SEM"></td></tr>
        <tr><td class="item">2015</td><td class="text-left">Established HCM and moved toping hen Industrial Park.</td><td><img src="~/Content/images/AboutUs/pic_8.jpg" alt="HCM established Pingjhen factory."></td></tr>
        <tr><td class="item">2016</td><td class="text-left">Co-funded Shandong HCM with Shandong Sinocera Functional Material Co., Ltd.</td><td><img src="~/Content/images/AboutUs/pic_9.jpg" alt="Co-funded Shandong HCM with Shandong Sinocera Functional Material Co., Ltd."></td></tr>
    </table>
</article>

<article id="tab-3" class="tab-content">
    <h2>Company Organization</h2>
    <div class="text-center">
        <img src="~/Content/images/AboutUs/pic2-EN.gif" alt="Company Organization">
    </div>
</article>

<article id="tab-4" class="tab-content">
    <h2>Factories and R&D</h2>
    <div class="text-center">
        <img src="~/Content/images/AboutUs/pic4.jpg" alt="HCM Factories"><br>
        <img src="~/Content/images/AboutUs/pic4_2.jpg" alt="HCM Factories"><br>
        <img src="~/Content/images/AboutUs/pic4_3.jpg" alt="HCM Analysis room">
    </div>
</article>

<article id="tab-5" class="tab-content">
    <h2>Business Development</h2>
    <ul class="pic-list">
        <li><img src="~/Content/images/AboutUs/pic5.jpg" alt="Business Developmen"></li>
        <li><img src="~/Content/images/AboutUs/pic5_2.jpg" alt="Business Developmen"></li>
        <li><img src="~/Content/images/AboutUs/pic5_3.jpg" alt="Business Developmen"></li>
        <li><img src="~/Content/images/AboutUs/pic5_4.jpg" alt="Business Developmen"></li>
        <li><img src="~/Content/images/AboutUs/pic5_5.jpg" alt="Business Developmen"></li>
    </ul>
</article>