
@{
    ViewBag.Title = "快速充放電正極材料-磷酸鋰鐵 LiFePO4:電池材料";
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = "磷酸鋰鐵 LiFePO4";
    ViewBag.ProNavClass = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@section breadCrumb {
    <li><a href="~/Products">正極材料</a></li>
}

@Html.Partial("sidebar")

@Html.Partial("Battery-catalog")

<h1 class="clear"><small>快速充放電正極材料</small>磷酸鋰鐵 LiFePO<sub>4</sub></h1>

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">LFP結構與特色</a></li>
    <li class="js-tab"><a href="#tab-2">LFP規格</a></li>
</ul>

@* <section class="tabs-main"> *@
    <article id="tab-1" class="tab-content">
        <div class="col-6 col-xs-12">
            <img src="~/Content/images/Products/Battery/p2.jpg" alt="均勻的粒徑分佈" style="max-height: 280px">
        </div>
        <div class="col-6 col-xs-12">
            <h3>LFP結構與特色</h3>
            <p>與台灣工研院技轉，生產具奈米結構、高導電路路設計LFP</p>
            <h4>優點</h4>
            <ul class="list-dot">
                <li>具有快速充、放電特性</li>
                <li>兼具『容量』及『倍率』特性</li>
                <li>一致性高</li>
                <li>超低溫放電特性(1C＠-40 ℃)</li>
            </ul>
        </div>

        <div class="col-6 col-xs-12">
            <h4 class="clear">球型化二次粒子結構</h4>
            <img src="~/Content/images/Products/Battery/p2-2.jpg" alt="球型化二次粒子結構">
        </div>
        <div class="col-6 col-xs-12">
            <h4>LFP緻密化球型</h4>
            <p>特有的緻密化技術，可提高體積能量密度，且兼具<strong>『容量』</strong>及<strong>『倍率』充、放電特性</strong></p>
            <h5>二次粒子FIB</h5>
            <img src="~/Content/images/Products/Battery/p2-2-4.jpg" alt="">
        </div>

    </article>

    <article id="tab-2" class="tab-content">
        <h3>LFP規格</h3>

        <div class="col-6 col-xs-12">
            <h4>基本規格</h4>
            <img src="~/Content/images/Products/Battery/p2-4.jpg" alt="">
        </div>
        <div class="col-6 col-xs-12">
            <h4>Coin Cell電性</h4>
            <p>25 ℃，活物比例90%，導電碳添加比例5%，塗物重12mg/cm<sup>2</sup></p>
            <img src="~/Content/images/Products/Battery/p2-5.jpg" alt="">
        </div>

        <h4>Coin Cell Cycle Life</h4>
        <p>1C charge/3C discharge : <span class="text-info">50cycle, 98%</span></p>
        <p>25 ℃，活物比例90%，導電碳添加比例5%，塗物重12mg/cm<sup>2</sup></p>
        <img src="~/Content/images/Products/Battery/p2-6.jpg" alt="">
    </article>
@* </section> *@

