
<nav class="catalog">
    <h2>泓辰电池材料所生产的锂电池正极材料</h2>

    <a href="~/Products/Battery" class="bg-success"><small>次世代高电压正极材料</small>磷酸锂铁锰 LMFP</a>
    <a href="~/Products/Battery2" class="bg-warn"><small>快速充放电正极材料</small>磷酸锂铁 LiFePO<sub>4</sub><br>CM-500</a>
    <a href="~/Products/Battery3" class="bg-oranges"><small>高能量密度正极材料</small>高镍三元 LNMC</a>
</nav>