
<nav class="catalog">
    <h2>泓辰電池材料所生產的鋰電池正極材料</h2>

    <a href="~/Products/Battery" class="col-1-5 bg-success"><small>次世代高電壓正極材料</small>磷酸鋰鐵錳 LMFP</a>
    <a href="~/Products/Battery2" class="col-1-5 bg-warn"><small>快速充放電正極材料</small>磷酸鋰鐵 LiFePO<sub>4</sub><br>CM-500</a>
    <a href="~/Products/Battery3" class="col-1-5 bg-oranges"><small>高能量密度正極材料</small>高鎳三元 LNMC</a>
</nav>