
@{
    ViewBag.Title = "高能量密度正極材料-高鎳三元 LNMC:電池材料";
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = "高鎳三元 LNMC";
    ViewBag.ProNavClass = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@section breadCrumb {
    <li><a href="~/Products">正極材料</a></li>
}

@Html.Partial("sidebar")

@Html.Partial("Battery-catalog")


<h1 class="clear"><small>高能量密度正極材料</small>高鎳三元 LNMC</h1>

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">NCM結構與特色</a></li>
    <li class="js-tab"><a href="#tab-2">NCM基本性能</a></li>
</ul>

<section class="tabs-main">
    <article id="tab-1" class="tab-content">
        <div class="col-3">
            <img src="~/Content/images/Products/Battery/p3.jpg" alt="" width="100%">
        </div>

        <div class="col-8 offset-1">
            <h3>NCM結構與特色</h3>
            <p>泓辰自主開發，以獨特的噴霧造粒技術，製造具有高能量密度NCM</p>
            <h4>開發目標</h4>
            <ul class="list-dot">
                <li>高容量 0.1C放電＞170mAh/g</li>
                <li>高壓實密度 >3.7g/ml</li>
                <li>高首充放電效率>88%</li>
                <li>具有快速充電性能</li>
            </ul>
        </div>
    </article>

    <article id="tab-2" class="tab-content">
       <h3>NCM基本性能</h3>
       <h4>Coin Cell電性</h4>
       <h2>目前持續開發中，預計2014第二季進行小量投產</h2>
       <p>25 ℃，活物比例90%，導電碳添加比例5%，塗物重15mg/cm<sup>2</sup></p>

       <img src="~/Content/images/Products/Battery/p3-2.jpg" alt="" width="80%">
       @* <img src="~/Content/images/Products/Battery/p3-2-2.jpg" alt="" class="col-6"> *@
    </article>
</section>
