
@{
    ViewBag.Title = "次世代高電壓正極材料-磷酸鋰鐵錳 LMFP:電池材料";
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = "磷酸鋰鐵錳 LMFP";
    ViewBag.ProNavClass = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@section breadCrumb {
    <li><a href="~/Products">正極材料</a></li>
}

@Html.Partial("sidebar")

@Html.Partial("Battery-catalog")


<h1 class="clear"><small>次世代高電壓正極材料</small> 磷酸鋰鐵錳 LMFP</h1>

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">LMFP結構與特色</a></li>
    <li class="js-tab"><a href="#tab-2">LMFP規格</a></li>
</ul>

<section class="tabs-main">
    <article id="tab-1" class="tab-content">
        @* <div class="col-5">
            <img src="~/Content/images/Products/Battery/p1-1.jpg" alt="">
        </div>

        <div class="col-6 offse-1"> *@
            <h3>LMFP 結構與特色</h3>
            <p>與國際前三大化學廠共同合作開發，2014正式量產次世代高電壓LMFP</p>
            <h4>優點</h4>
            <ul class="list-dot">
                <li>提高能量密度20%</li>
                <li>放電平台利於電池管理系統</li>
                <li>具專利保護</li>
            </ul>
        @* </div> *@
    </article>

    <article id="tab-2" class="tab-content">
        <h3>LMFP規格</h3>
        <div class="col-4">
            <h4>基本規格</h4>
            <img src="~/Content/images/Products/Battery/p1-2.jpg" alt="" height="186">
        </div>
        <div class="col-4">
            <h4>粒徑分佈</h4>
            <img src="~/Content/images/Products/Battery/p1-2-2.jpg" alt="">
        </div>
        <div class="col-4">
            <img src="~/Content/images/Products/Battery/p1-2-3.jpg" alt="">
        </div>

        <div class="col-7">
            <h3>Coin Cell電性</h3>
            <p>25 ℃，活物比例90%，導電碳添加比例5%，塗物重10 mg/cm<sup>2</sup></p>
            <img src="~/Content/images/Products/Battery/p1-3.jpg" alt="" width="100%">
        </div>

        @* <div class="col-6">
            <h4>0.1C 放電容量</h4>
            <img src="~/Content/images/Products/Battery/p1-3.jpg" alt="">
        </div>
        <div class="col-6">
            <h4>放電電壓比較</h4>
            <img src="~/Content/images/Products/Battery/p1-3-2.jpg" alt="">
        </div> *@

        <div class="col-5">
            <h3>Coin Cell Cycle Life</h3>
            <p>1C charge/3C discharge : <span class="text-info">50cycle, 98%</span></p>
            <p>25 ℃，活物比例90%，導電碳添加比例5%，塗物重10 mg/cm2</p>
            <img src="~/Content/images/Products/Battery/p1-4.jpg" alt="" width="100%">
        </div>
    </article>
</section>

