
@{
    ViewBag.Title = "次世代研發";
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = "次世代研發";
    ViewBag.ProNav4Class = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}
@section breadCrumb {
    <li><a href="~/Products">正極材料</a></li>
}

@Html.Partial("sidebar")

<h2 class="text-left">次世代LMFP 研發</h2>
<img src="~/Content/images/Products/Build/pic_n.jpg" alt="2009-2018性能進步圖表">

<hr>

<h2 class="text-left">次世代LMFP 特性比較表</h2>
<div class="table-rwd">
    <table class="full">
        <caption class="text-center">
            @* <span class="label">G1: 目前線上產品</span>
            <span class="label">G2P/G2E: 開發中</span> *@
            <span class="label">G2P : Power type</span>
            <span class="label">G2E : Energy type</span>
        </caption>
        <tbody class="borded">
            <tr>
                <th rowspan="2" class="diagonal">
                    <sub>效能特性</sub>
                    <sup>材料系統</sup>
                </th>
                <th>第一代</th>
                <th colspan="2">第二代</th>
            </tr>
            <tr>
                <td class="item mark">G1</td>
                @* <td class="item mark">G2</td> *@
                <td class="item mark">G2P</td>
                <td class="item mark">G2E</td>
            </tr>
            <tr>
                <td class="item mark">能量密度</td>
                @* <td><i class="icon-triangle">三角形</i></td> *@
                <td><i class="icon-circle">圓</i></td>
                <td><i class="icon-circle">圓</i></td>
                <td><i class="icon-circle-d">2圓</i></td>
            </tr>
            <tr>
                <td class="item mark">倍率放電</td>
                @* <td><i class="icon-circle">圓</i></td> *@
                <td><i class="icon-circle-d">2圓</i></td>
                <td><i class="icon-circle-d">2圓</i></td>
                <td><i class="icon-circle-d">2圓</i></td>
            </tr>
            <tr>
                <td class="item mark">倍率充電</td>
                @* <td><i class="icon-triangle">三角形</i></td> *@
                <td><i class="icon-circle">圓</i></td>
                <td><i class="icon-circle-d">2圓</i></td>
                <td><i class="icon-circle">圓</i></td>
            </tr>
            <tr>
                <td class="item mark">高溫循環壽命</td>
                @* <td><i class="icon-triangle">三角形</i></td> *@
                <td><i class="icon-circle">圓</i></td>
                <td><i class="icon-circle">圓</i></td>
                <td><i class="icon-circle-d">2圓</i></td>
            </tr>
            <tr>
                <td class="item mark">低溫倍率放電</td>
                @* <td><i class="icon-triangle">三角形</i></td> *@
                <td><i class="icon-triangle">三角形</i></td>
                <td><i class="icon-circle-d">2圓</i></td>
                <td><i class="icon-circle">圓</i></td>
            </tr>
            <tr>
                <td class="item mark">抗吸濕性</td>
                @* <td><i class="icon-triangle">三角形</i></td> *@
                <td><i class="icon-triangle">三角形</i></td>
                <td><i class="icon-triangle">三角形</i></td>
                <td><i class="icon-circle">圓</i></td>
            </tr>
        </tbody>
        <tfoot>
            <td></td>
            <td colspan="3" class="text-right">
                相對優勢比較: <i class="icon-circle-d">2圓</i> > <i class="icon-circle">圓</i> > <i class="icon-triangle">三角形</i>
            </td>
        </tfoot>
    </table>
</div>
