
<button class="pro-mobile-nav" data-dropdown="btn">
    <span>产品选单 <i class="icon-chevron-small-down"></i></span>
</button>

<ul class="pro-nav" data-dropdown="content">
    <li class="@ViewBag.ProNavClass">
        <a href="~/Products/Battery_intro">正极材料</a>
    </li>
    <li class="@ViewBag.ProNav2Class">
        <a href="~/Products/Technology">核心技术</a>
    </li>
    <li class="@ViewBag.ProNav3Class">
        <a href="~/Products/Trend">市场趋势</a>
    </li>
    <li class="@ViewBag.ProNav4Class">
        <a href="~/Products/Build">锂电池组成</a>
    </li>
</ul>