
<button class="pro-mobile-nav" data-dropdown="btn">
    <span>產品選單 <i class="icon-chevron-small-down"></i></span>
</button>

<ul class="pro-nav" data-dropdown="content">
    <li class="@ViewBag.ProNavClass">
        <a href="~/Products/Battery_intro">核心技術</a>
    </li>
    <li class="@ViewBag.ProNav2Class">
        <a href="~/Products/Technology">特性及比較</a>
    </li>
    <li class="@ViewBag.ProNav3Class">
        <a href="~/Products/Trend">材料應用</a>
    </li>
    <li class="@ViewBag.ProNav4Class">
        <a href="~/Products/Build">次世代研發</a>
    </li>
</ul>