
@{
    ViewBag.Title = "市场趋势:电池材料";
    ViewBag.BodyClass = "Products";
    ViewBag.breadCrumb = "市场趋势";
    ViewBag.ProNav3Class = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

@Html.Partial("sidebar")

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">市场资讯</a></li>
    <li class="js-tab"><a href="#tab-2">动力系统应用</a></li>
    <li class="js-tab"><a href="#tab-3">储能系统应用</a></li>
</ul>

<article id="tab-1" class="tab-content">
    <h3>市场资讯</h3>
    <div class="col-6 col-xs-12">
        <h4>锂电池产业分布</h4>
        <img src="~/Content/images/Products/Trend/p1.jpg" alt="">
    </div>
    <div class="col-6 col-xs-12">
        <h4>电池材料应用分布</h4>
        <img src="~/Content/images/Products/Trend/p1-2.jpg" alt="">
    </div>

    <h4>未来锂电池市场需求目标</h4>
    <img src="~/Content/images/Products/Trend/p1-3.jpg" alt="">
</article>

<article id="tab-2" class="tab-content">
    <div class="col-6 col-xs-12">
        <h3>动力系统应用</h3>
        <p>目前锂电池的市场集中在IT产业，未来的锂电池市场将扩大到</p>
        <ol class="list-unstyled">
            <li>(1) 电动车包含(<span class="text-error">电动大巴丶HEV</span>丶<span class="text-info">PHEV</span>丶BEV);</li>
            <li>(2) 储能装置</li>
        </ol>
    </div>
    <div class="col-6 col-xs-12">
        <h4>电动车趋势</h4>
        <img src="~/Content/images/Products/Trend/p2.jpg" alt="">
    </div>
</article>

<article id="tab-3" class="tab-content">
    <h3>储能系统应用</h3>
    <div class="text-center">
        <img src="~/Content/images/Products/Trend/p3.jpg" alt="">
        <img src="~/Content/images/Products/Trend/p3-2.jpg" alt="">
        <p>储能系统的电池是以长寿命丶降低维修丶安全也是一大考量，因此LFP&LMFP也是一大选择，稳定成长的再生能源储存装置</p>
    </div>
</article>
