@charset "UTF-8";

$cols: 12 !default;

// 函數程式
// ------------------------------------------------------------
// tin
$one_col: (100% - (cp($gutter) * ($cols - 1))) / $cols;
@mixin cols($num) {
    width: ($one_col * $num) + (cp($gutter) * ($num - 1));
}

// stacy
// $one_col: 100% / $cols;
// @mixin cols($num) {
//     width: ($one_col * $num);
//     // float: left;
//     display: inline-block;
//     padding-left: $gutter/2;
//     padding-right: $gutter/2;
// }

@mixin make-cols($class: md) {
    @for $i from 1 through $cols {
        @if($class == md) {
            .col-#{$i} { @include cols($i); }
        }
        @else {
            .col-#{$class}-#{$i} { @include cols($i); }
        }
    }
}

// 偏移
@mixin offset($num) {
    $one_col: 100% / $cols;
    margin-left: ($one_col * $num);
}

@mixin make-offset($class: md) {
    @for $i from 0 through $cols {
        @if($class == md) {
            .offset-#{$i} { @include offset($i); }
        }
        @else {
            .offset-#{$class}-#{$i} { @include offset($i); }
        }
    }
}


// output
// ------------------------------------------------------------
.row {
    @extend %clearfix;
    // @extend %center;

    // margin-left:-$gutter/2;
    // margin-right:-$gutter/2;

    // form & {
    //     margin-bottom: $gutter;
    // }

    margin-bottom: $gutter;
}

[class*="col-"] {
    // float: left;
    display: inline-block;
    vertical-align: middle;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
}

@include make-cols(md); // 預設: md
@include mq-max(break(tablet,-1))  { @include make-cols(xs); }
@include mq-max(break(desktop,-1)) { @include make-cols(sm); }
@include mq(wide)                  { @include make-cols(lg); }
@include mq(wider)                 { @include make-cols(xl); }

@include make-offset(md); // 預設: md
@include mq-max(break(tablet,-1))  { @include make-offset(xs); }
@include mq-max(break(desktop,-1)) { @include make-offset(sm); }
@include mq(wide)                  { @include make-offset(lg); }
@include mq(wider)                 { @include make-offset(xl); }