@charset "UTF-8";

// wrapper
$wrapper-bg:             #fff !default;
$content-spacing:        25px !default;

// header
$header-height:          195px !default;
$header-bg:              $body-bg !default;


// 主選單
$menu-bg:                $wrapper-bg !default;
$menu-height:            125px !default;
$menu-height-fixed:      60px !default;
$nav-font-size:          19px !default;
$nav-link:               #50414B;
$nav-link-hover:         #fff;
$menu-position:          left 0 top 70px right 0 !default;
$menu-trigger-width:     250px !default; // 行動版時推拉主選單寬度
$nav-width:              (100% / length($pages)) - 0.1 !default;

// 第 2 層選單
$sub-nav-bg:             lighten($header-bg, 2%) !default;
$sub-nav-transition:     'opacity .3s, visibility .35s' !default;
$sub-nav-width:          percentage(1/4) !default;



// footer
$footer-height:          239px !default;
$footer-bg:              $brand-gray;
$footer-color:           #323232;
$goTop-position:         bottom 30px right 10px !default;


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 ($gutter+10);

    // 臨時
    min-width: 1200px;

    // @include mq(wider) { margin: 0 auto; }
}

// RWD容器
%contain {
    @extend %clearfix;

    @include mq-max(tablet) {
        padding-left: $gutter;
        padding-right: $gutter;
        margin: 0;
    }
}

.wrap {
    @extend %center;
    @extend %contain;
}

#header, #footer, #main {
    @extend %contain;
}

#wrapper, #header, #footer, #main {
    position: relative;
}

#wrapper {
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @include mq-max(tablet) {
        padding-bottom: 0;
        min-height: auto;
        margin: 0;
    }
}


// header
// ----------------------------------------------------------------------
#header {
    z-index: z(header);
    height: $header-height;
    background: $header-bg;
}

@import "custom/logo";
@import "custom/menu";
@import "custom/language";
// @import "custom/mobile-menu";



// footer
// ----------------------------------------------------------------------
#footer {
    z-index: z(footer);
    background: $footer-bg;
    color: $footer-color;
    min-height: $footer-height;
    margin-top: -($footer-height);

    @include mq-max(phone) {
        margin-top: 0;
    }
}

// @import "custom/copyright";