@charset "UTF-8";

// wrapper
$wrapper-bg:            $brand-primary !default;
$content-spacing:       50px !default;

// header
$header-height:         110px !default;
$header-bg:             $brand-primary !default;
$logo-img:              'logo.gif' !default;
$logo-size:             179px 83px !default;
$logo-position:         left 0 top 15px !default;

$menu-height:           51px;
$menu-height-sm:        100%;
$menu-link:             #fff;
$menu-link-hover:       #fff;
// 行動版時推拉主選單寬度
$menu-trigger-width:    250px !default;

// footer
$footer-height:         248px !default;
$footer-height-sm:      100px;
$footer-transY:         $footer-height !default;
$footer-bg:             #ECECEC;
$footer-color:          #808080;
$goTop-position:        bottom 30px right 10px !default;


/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 ($gutter + 5);

    @include mq(wider) { margin: 0 auto; }
    @include mq-max(tablet) { margin: 0 auto; }
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;

    @include mq-max(tablet) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

.wrap, #main {
    @extend %center;
    @extend %contain;
}

#wrapper, #header, #footer, #main, .wrap {
    position: relative;
}
#header, #footer {
    @extend %contain;
}

#wrapper {
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: $header-height;
        background: $wrapper-bg;
        box-shadow: 0 3px 0 #E1E2D7;
    }

    @include mq-max(phone) {
        padding-bottom: $footer-height-sm + $content-spacing;
    }
}


// header
// ----------------------------------------------------------------------
#header {
    @extend %center;
    z-index: z(header);
    height: $header-height;

    h1 {
        cursor: pointer; cursor: hand; // for ie
        z-index: z(logo);

        @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));
        @include absolute($logo-position);

        @include mq-max(tablet) {
            // background-image: url(#{$img-path}/logo2.gif);
            // background-size: contain;
        }
        @include mq-max(phone) {
            // left: 0; right: 0;
            // width: 100%;
        }
    }
}

// == 行動版主選單
body, #menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-trigger {
    display: none;

    background-attachment: fixed;
    background: url(#{$img-path}/icon.png) no-repeat 0 -59px;
    color: $brand-secondary;
    font-size: em(19px);
    font-weight: bold;
    padding-left: 25px;
    margin-left: -7px;
    z-index: z(overlay) + 1;

    @include absolute(left 0 top 5px);

    &:hover { color: $brand-primary; }

    @include mq-max(959px) { display: block; }
}
body {
    position: relative;
    overflow-x: hidden;
    left: 0;
}
.push {
    left: $menu-trigger-width;
    overflow-y: hidden;

    .md-overlay {
        opacity: 1;
        visibility: visible;
        left: $menu-trigger-width;
    }
}

// 主選單
#menu {
    @include absolute(right 0 top 60px);

    $selector: ();
    @each $item in $pages {
        $i: index($pages, $item);
        $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i})"), comma);
    }
    a {
        position: relative;
        display: inline-block;

        border-left: 3px solid #D8DF2B;
        color: $menu-link;
        font-size: em(18px);
        font-family: $font-sp;
        letter-spacing: 2px;
        line-height: 19px;

        padding: 0 70px 0 17px;
        margin-left: 1px;

        &:hover, &:active,
        #{$selector} {
            background: url(#{$img-path}/menuBg.gif) right 0 no-repeat;
            padding-bottom: 31px;
        }
        @include mq(wide) { }
        @include mq-max(desktop) { }
    }

    @include mq-max(959px) {
        // background: $brand-primary;
        // width: $menu-trigger-width;
        // height: 100%;
        // overflow-y: auto;
        // z-index: z(overlay) + 1;

        // @include fixed(top 0);
        // left: -$menu-trigger-width;

        // .toggle {
        //     display: block;
        //     cursor: pointer; cursor: hand;
        //     background: $brand-primary url(#{$img-path}/icon.png) no-repeat right 6px;

        //     color: #fff;
        //     font-size: em(20px);
        //     letter-spacing: 0.1em;

        //     padding: 20px 0;
        // }
        // .push & { left: 0; }

        // a {
        //     border-bottom: 1px solid $brand-secondary;
        //     color: #fff;

        //     font-size: em(18px);
        //     font-weight: normal;
        //     letter-spacing: 0.03em;
        //     text-align: left;

        //     width: 100%;
        //     padding: $gutter;

        //     &:hover, &:active,
        //     #{$selector} {
        //         background: darken($brand-secondary,2%);
        //         border-radius: 0;

        //         &::after { display: none; }
        //     }
        // }
    }
}


// footer
// ----------------------------------------------------------------------
#footer {
    z-index: z(footer);
    background: $footer-bg;
    color: $footer-color;
    min-height: $footer-height;
    margin-top: -($footer-transY);

    padding: 43px 0;
    text-align: left;

    .contact {
        border: 1px solid #fff;
        padding: 20px 30px;
        margin-right: 3%;

        em {
            @include text-pic('icon-contact.gif',24px,21px,fixed,0 0);
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }
        a { color: $footer-color; }

        .col-5 {
            color: #545454;
            font-size: em(30px);
            line-height: 1.85;

            li {
                &:nth-of-type(2) em { background-position: 0 -54px; }
            }
        }
        .col-7 {
            font-size: em(13px);
            line-height: 1.75;

            li { margin: 10px 0; }
        }
    }
}

.copyright {
    color: #B5B5B5;
    font-size: em(14px);

    @include absolute(right 15px bottom 20px);
}

.club {
    a {
        @extend %circle;
        @include text-pic('icon-club.gif',55px,55px,fixed,14px center);

        display: inline-block;
        background-color: $brand-primary;
        margin: 25px 18px 20px 0;

        &:nth-child(2) { background-position: -62px center; }
        &:nth-child(3) { background-position: -138px center; }
        &:hover, &:active {
            background-color: lighten($brand-secondary,10%);
            box-shadow: 5px 8px 16px rgba(0,0,0,0.2);
            @include prefix(transform,translate(-2px,-2px));
        }
    }
}

.goTop {
    display: none;
    z-index: z(goTop);

    opacity: .65;
    transition: all .5s ease;

    @include fixed($goTop-position);
    @include text-pic('goTop.png',42px,23px);

    &:hover, &:active { opacity: 1; }
}
