@model IList<ProcCore.Business.DB0.News>
@{
    ViewBag.Title = "次世代高压电正极材";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";

    ProcCore.Business.DB0.News first_news = null;
    IList<ProcCore.Business.DB0.News> left_news = null;

    if (Model != null)
    {
        first_news = Model.FirstOrDefault();
        left_news = Model.Skip(1).Take(2).ToList();
    }

}

<section id="main">

    <article class="content">
        <h3>次世代磷酸锰铁锂</h3>
        <p>奈米·安全·高能量密度</p>
        @* <p>与国际前三大化学厂共同合作开发<br>2014正式量产次世代高电压LMFP</p> *@
    </article>

    <aside class="sidebar">
        <ul class="list-unstyled text-left">
            @* 最新消息 最多3则 *@

            @foreach (var item in Model)
            {
                <li>
                    <a href="~/News/content?id=@item.news_id"><em>@item.set_date.ToString("yyyy-MM-dd")</em>@item.news_title</a>
                </li>
            }
        </ul>
        <a href="~/News" class="btn">MORE</a>
    </aside>

</section><!-- main //-->