@{
    ViewBag.Title = "次世代高压电正极材";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="main">

    <article class="content">
        <h3>次世代高电压正极材</h3>
        <p>与国际前三大化学厂共同合作开发<br>2014正式量产次世代高电压LMFP</p>
        @* <img src="~/Content/images/index/pic.png" alt="电池应用图"> *@
    </article>

    <aside class="sidebar">
        <ul class="list-unstyled text-left">
            @* 最新消息 最多3则 *@
            <li>
                <a href="~/News/Content"><em>2015.08.12</em>泓辰开幕典礼</a>
            </li>
            <li>
                <a href="~/News/Content2"><em>2015.04.08</em>平镇厂迁移</a>
            </li>
        </ul>
        <a href="~/News" class="btn">MORE</a>
    </aside>

</section><!-- main //-->