
@{
    ViewBag.Title = "最新消息:泓辰开幕典礼";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "最新消息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<article class="container news-panel">
    <header>
        泓辰开幕典礼
        <small class="text-error">2015.08.12</small>
    </header>

    @* 下为编辑器内容 *@
    <img src="~/Content/images/News/pic.jpg" alt="消息图" class="float-r">
    <p>祝贺开幕</p>

</article>

<footer class="text-center clear">
    <a href="~/News" class="btn">回列表</a>
</footer>