@charset "UTF-8";

%clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    @if $lte7 { zoom: 1 }
}
%circle { border-radius: 50%; } // 圓形

%full { width: 100%; max-width: 100%; }
%half { width: 49.6%; }

%text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

%list-unstyled { list-style: none; }
%list-inline {
    @extend %list-unstyled;

    // margin-left: -5px;

    > li {
        display: inline-block;
        // padding-left: 5px;
        // padding-right: 5px;
    }
}

%middle {
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

%effect-all {
    @include prefix(transition, all .35s);
}