
@{
    ViewBag.Title = "人力資源";
    ViewBag.BodyClass = "JoinUs";
    ViewBag.breadCrumb = "人力資源";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">生活在泓辰</a></li>
    <li class="js-tab"><a href="#tab-2">員工福利</a></li>
    <li class="js-tab"><a href="#tab-3">社團</a></li>
    <li><a href="~/Content/download/record.doc">應徵人員資料表(下載)</a></li>
</ul>

<article id="tab-1" class="tab-content">
    <h2>生活在泓辰</h2>
    <ol class="list-dot">
        <li>健康檢查: 宏瀨重視每位員工健康況狀, 每年提供員工一次團體檢康檢查。</li>
        <li>勞工安全衛生教育</li>
        <li>消防演練及緊急應變</li>
        <li>宏瀨福利網: 與Payeasy網路平台合作,內容包括特約商店、購物訊息、旅遊專區、福利網兌換專區，將福利補助金額變成福利點數，藉著購物網站的平台及資源，增加商品的多樣性，方便同仁個人化操作及自由地選擇兌換商品，進而提高福利補助之價值。</li>
        <li>在宏瀨大家庭下, 工作上得到成長、成就感外, 公司定期舉辦月活動、季活動及家庭日等活動。促進同事間情誼, 工作後的室內、 戶外休閒娛樂使每位宏瀨人都能快樂工作。福委會的宗旨在於實現幸福企業的夢想。</li>
    </ol>
    <ul class="list-inline col-6" data-col="first">
        <li class="title">開幕典禮</li>
        <li class="col-6" data-col="first"><img src="~/Content/images/JoinUs/pic1.jpg" alt=""></li>
        <li class="col-6" data-col="last"><img src="~/Content/images/JoinUs/pic1-2.jpg" alt=""></li>
    </ul>
    <ul class="list-inline col-6" data-col="last">
        <li class="title">年度體檢</li>
        <li class="col-6" data-col="first"><img src="~/Content/images/JoinUs/pic1-3.jpg" alt=""></li>
        <li class="col-6" data-col="last"><img src="~/Content/images/JoinUs/pic1-4.jpg" alt=""></li>
    </ul>
    <ul class="list-inline col-6" data-col="first">
        <li class="title">年度目標會議</li>
        <li class="col-6"data-col="first"><img src="~/Content/images/JoinUs/pic1-5.jpg" alt=""></li>
        <li class="col-6"data-col="last"><img src="~/Content/images/JoinUs/pic1-6.jpg" alt=""></li>
    </ul>
    <ul class="list-inline col-6" data-col="last">
        <li class="title">尾牙旺年餐會</li>
        <li class="col-6"data-col="first"><img src="~/Content/images/JoinUs/pic1-7.jpg" alt=""></li>
        <li class="col-6"data-col="last"><img src="~/Content/images/JoinUs/pic1-8.jpg" alt=""></li>
    </ul>
</article>

<article id="tab-2" class="tab-content">
    <h2>員工福利</h2>
    <ol class="list-dot">
        <li>薪資制度: 依據公司整體營運狀況，於每年進行個人績效的薪資調整。</li>
        <li>保險體系: 全民健保及勞工保險外，額外提供同仁團體與意外保險的福利措施，新進同仁報到日當天，宏瀨便會替同仁完成健保、勞保以及團保的加保；另，同仁也可替其眷屬加保健保與團保。</li>
        <li>假勤制度: 勞基法的休假制度。</li>
        <li>節金制度: 五一勞動、中秋節、端午節 三節獎金及婚喪生育補助。</li>
        <li>績效考核: 透明公開的績效考核制度，透過同仁與直屬主管的面對面溝通訂定個人的年度工作目標，並於每年定期進行個人的績效考核，作為調薪、獎金發放及未來晉升的參考依據。</li>
        <li>職涯規劃: 近年來，宏瀨從光學檢測技術觸角延伸至綠能產業，目前正積極著手多角化經營，希望提供更寬廣的發展舞台, 持續強化員工的價值核心。</li>
    </ol>
</article>

<article id="tab-3" class="tab-content">
    <h2>社團</h2>
    <p> 為培養同仁身心健康，健康娛樂本公司目前有籃球社、羽球社、登山社及慢跑社， 不定期舉辦球賽與活動。尚有腳踏車社、壘球社、積極籌備中。</p>
    <ul class="pic-list">
        <li><img src="~/Content/images/JoinUs/pic3-1.jpg" alt=""><span>羽球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-2.jpg" alt=""><span>羽球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-3.jpg" alt=""><span>藍球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-4.jpg" alt=""><span>藍球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-5.jpg" alt=""><span>登山社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-6.jpg" alt=""><span>登山社</span></li>
    </ul>
</article>