
@{
    ViewBag.Title = "人力资源";
    ViewBag.BodyClass = "JoinUs";
    ViewBag.breadCrumb = "人力资源";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/tab.js"></script>
}

<ul class="tabs">
    <li class="js-tab"><a href="#tab-1">生活在泓辰</a></li>
    <li class="js-tab"><a href="#tab-2">员工福利</a></li>
    <li class="js-tab"><a href="#tab-3">社团</a></li>
    <li><a href="~/Content/download/record.doc">应徵人员资料表(下载)</a></li>
</ul>

<article id="tab-1" class="tab-content">
    <h2>生活在泓辰</h2>
    <ol class="list-dot">
        <li>健康检查: 泓辰重视每位员工健康况状, 每年提供员工一次团体检康检查。</li>
        <li>劳工安全卫生教育</li>
        <li>消防演练及紧急应变</li>
        <li>泓辰福利网: 与Payeasy网路平台合作,内容包括特约商店丶购物讯息丶旅游专区丶福利网兑换专区，将福利补助金额变成福利点数，藉着购物网站的平台及资源，增加商品的多样性，方便同仁个人化操作及自由地选择兑换商品，进而提高福利补助之价值。</li>
        <li>在泓辰大家庭下, 工作上得到成长丶成就感外, 公司定期举办月活动丶季活动及家庭日等活动。促进同事间情谊, 工作後的室内丶 户外休闲娱乐使每位泓辰人都能快乐工作。福委会的宗旨在於实现幸福企业的梦想。</li>
    </ol>
    <ul class="pic-list-half">
        <li class="title">开幕典礼</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-2.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">年度体检</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-3.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-4.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">年度目标会议</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-5.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-6.jpg"></li>
    </ul>
    <ul class="pic-list-half">
        <li class="title">尾牙旺年餐会</li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-7.jpg"></li>
        <li class="pic"><img src="~/Content/images/JoinUs/pic1-8.jpg"></li>
    </ul>
</article>

<article id="tab-2" class="tab-content">
    <h2>员工福利</h2>
    <ol class="list-dot">
        <li>薪资制度: 依据公司整体营运状况，於每年进行个人绩效的薪资调整。</li>
        <li>保险体系: 全民健保及劳工保险外，额外提供同仁团体与意外保险的福利措施，新进同仁报到日当天，泓辰便会替同仁完成健保丶劳保以及团保的加保；另，同仁也可替其眷属加保健保与团保。</li>
        <li>假勤制度: 劳基法的休假制度。</li>
        <li>节金制度: 五一劳动丶中秋节丶端午节 三节奖金及婚丧生育补助。</li>
        <li>绩效考核: 透明公开的绩效考核制度，透过同仁与直属主管的面对面沟通订定个人的年度工作目标，并於每年定期进行个人的绩效考核，作为调薪丶奖金发放及未来晋升的参考依据。</li>
        <li>职涯规划: 近年来，泓辰从光学检测技术触角延伸至绿能产业，目前正积极着手多角化经营，希望提供更宽广的发展舞台, 持续强化员工的价值核心。</li>
    </ol>
</article>

<article id="tab-3" class="tab-content">
    <h2>社团</h2>
    <p> 为培养同仁身心健康，健康娱乐本公司目前有篮球社丶羽球社丶登山社及慢跑社， 不定期举办球赛与活动。尚有脚踏车社丶垒球社丶积极筹备中。</p>
    <ul class="pic-list">
        <li><img src="~/Content/images/JoinUs/pic3-1.jpg"><span>羽球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-2.jpg"><span>羽球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-3.jpg"><span>蓝球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-4.jpg"><span>蓝球社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-5.jpg"><span>登山社</span></li>
        <li><img src="~/Content/images/JoinUs/pic3-6.jpg"><span>登山社</span></li>
    </ul>
</article>