@charset "UTF-8";

// 讓某元素垂直置中
@mixin middle($target) {
    @extend %middle;

    @if $target == img {
        #{$target} {
            display: inline-block;
            @content;
        }
    }
    @else {
        #{$target} {
            display: inline-block;
            vertical-align: middle;
            @content;
        }
    }
}

// 單行文字垂直置中
@mixin text-middle($height) {
    line-height: $height;
    height: $height;
}