@charset "UTF-8";

$btn-disabled:       $gray-light !default;
$btn-state-color:    #fff !default;

$btn-color:          $btn-state-color !default;
$btn-hover-color:    $btn-state-color !default;
$btn-bg-color:       $brand-primary !default;
$btn-bg-hover:       darken($brand-primary,6%) !default;
$btn-shadow:         1px 1px 2px hsla(0,0,0,0.2);

$btn-display:        inline-block !default;
$btn-width:          100px !default;
$btn-padding:        10px 30px !default;
$btn-border:         1px solid $link-color;
$btn-border-radius:  3px !default;

$btn-font-size:      20px !default;
$btn-line-height:    1.01 !default;



// button
// ----------------------------------------------

.btn {
    display: $btn-display;
    padding: $btn-padding;
    // min-width: $btn-width;

    background: $btn-bg-color;
    border-radius: $btn-border-radius;
    box-shadow: $btn-shadow;

    color: $btn-color;
    font-size: em($btn-font-size);
    line-height: $btn-line-height;
    letter-spacing: 1px;

    @extend %effect-all;

    &, &:active, &.active {
        &:focus, &.focus {
            @include tab-focus;
        }
    }
    &:hover, &:active, &.active {
    // &:hover, &:focus, &.focus {
        background-color: $btn-bg-hover;
        border-color: $btn-hover-color;
        color: $btn-hover-color;
    }
    &:active, &.active {
        outline: 0;
    }
    &.disabled, &[disabled], fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: .65;
    }
}

@if $states {
    [class*="btn-"] {
        background: $btn-state-color;
    }
    @each $type, $color in $state-type {
        .btn-#{$type} {
            // @include state($color, btn)
            color: $color;
            border-color: $color;
        }
    }
}

.btn-download {
    background: $btn-bg-color url(#{$img-path}/icon-download.png) right center no-repeat;
    padding: 23px 55px;
    padding-right: 65px;
}