@charset "UTF-8";

$dropdown-width:            180px !default;
$dropdown-color:            #C2E57E !default;


// 顯示隱藏按鈕
.dropbtn {
    cursor: pointer;
    transition: all .5s ease;

    background: none;
    border: 1px solid #93C336;
    color: $dropdown-color;
    font-size: em(12px);
    text-align: left;

    padding: 5px 10px;
    width: $dropdown-width;

    &::after {
        @include arrow(down,5px,7px,#93C336);
        @include absolute(right 8px top 10px);
    }

    &:hover, &:focus {
        border-color: lighten(#93c336,5%);
        color: lighten($dropdown-color,15%);

        &::after { border-top-color: lighten(#93c336,15%); }
    }
}


// 下拉最外層容器
.dropdown {
    // position: relative;
    // display: inline-block;

    z-index: z(logo)-1;
    @include absolute(right 0 top 13px);
}

// 隱藏內容
.dropdown-content {
    display: none;
    position: absolute;
    min-width: $dropdown-width;

    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
        color: #333;
        padding: 8px 0;
        display: block;

        &:hover { background-color: #f1f1f1 }
    }
}

