@charset "UTF-8";

//
// label
// --------------------------------------------------

.label {
    color: #F9E7BC;
    background: #0A334C;
    border-radius: 5px;

    display: inline;
    padding: 3px 8px;
    margin-right: 10px;
}