@charset "UTF-8";

// list
// ------------------------------------------------------------
.list-unstyled { @extend %list-unstyled; }
.list-inline { @extend %list-inline; }

.list-dot, .list-number {
    $font-size: 15px;

    @extend %list-unstyled;

    li {
        line-height: 1.75;
        @include icon-dot(left, 5px, lighten($brand-secondary, 15%), left 0);
    }
}
.list-dot li::before {
    top: 40%;
}

.list-number li {
    $size: 21px;

    padding-left: $size +10;

    &::before {
        @include text-center($size);
        @include size($size);
        top: 0;
        font-size: em(13px);
        color: #fff;
    }
    @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
            &::before {
                content: '#{$i}';
            }
        }
    }
}