
@{
    ViewBag.Title = "粉體製造設備:臥式砂磨機";
    ViewBag.BodyClass = "Equipment";
    ViewBag.breadCrumb = "臥式砂磨機";
    ViewBag.Subnav2 = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Equipment">設備</a></li>
}

@Html.Partial("sidebar")

<h1 class="clear"><small>粉體製造設備</small> @ViewBag.breadCrumb</h1>

<img class="img-center" src="~/Content/images/equipment/equi2.jpg">

<br><br>

<section class="row">
    <article class="text-left col-6 col-sm-12">
        <h2>原理與特長</h2>
        <p>臥式砂磨機是一種水平、濕式、連續生產之超微粒粉碎及分散機，其操作方法係利用定量汞浦，將預先攪拌完成之原料，送入已經填充適量研磨介質(如氧化鋯珠)的主機研磨槽內，經由分散葉片高速轉動，賦予研磨媒介足夠之動能，與被分散物之顆粒衝擊產生剪力，達到分散效果。</p>
        <p>傳統分散一直是以球磨機為主，自1952年，美國杜邦公司爲改善傳統球磨機緩慢的效率，才發明直立式砂磨機，至1966年歐洲科學家為改良直立式砂磨機之缺點，例如換料不易、靜止時因研磨珠與原料受重力影響沉積底部，啟動困難、研磨珠容易破碎等缺點，進而研發出臥式砂磨機。</p>
        <p>臥式砂磨機克服並排除上列各項缺點，不但具備高效率，且因力距較短，除了不受重力影響外，更有節省耗能與耗材的優點，</p>
        <p>此外，磨介規格可以採用更細的規格，因此分散的效果更佳，以精密陶瓷而言，研磨粒度可達到0.1~0.5μm。</p>
    </article>
    <picture class="col-6 col-sm-12">
        <img src="~/Content/images/equipment/equi2_2.jpg">
    </picture>
</section>

<h2>機型選用參考</h2>
<img class="img-center margin-bottom" src="~/Content/images/equipment/equi2_t1.jpg">

<br><br>

<h2>材質選用參考</h2>
<img class="img-center margin-bottom" src="~/Content/images/equipment/equi2_t2.jpg">
<p>★ 如有特殊需求，請與我們的工程部門聯繫<br>★ FOR DIFFERENT REGUEST , PLEASE CONTACT OUR ENGINEERING DEPARTMENT.</p>