
@{
    ViewBag.Title = "Powder Fabrication Equipment:SPRAY DRYER";
    ViewBag.BodyClass = "Equipment";
    ViewBag.breadCrumb = "SPRAY DRYER";
    ViewBag.Subnav = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Equipment">EQUIPMENT</a></li>
}

@Html.Partial("sidebar")

<h1 class="clear"><small>Powder Fabrication Equipment</small> @ViewBag.breadCrumb</h1>

<img class="img-center" src="~/Content/images/equipment/equi1.jpg" alt="SPRAY DRYER">

<br><br>

<section class="row">
    <article class="text-left col-6 col-sm-12">
        <h2>Our Technological Strength</h2>
        <p>Our spray dryer uses hot air to continuously and instantaneously dry plasma into powder, and collects the raw material after drying with air transport.</p>
        <p>Using a special nozzle (pressure or twin-fluid type) or a high-speed rotating disc (centrifugal type), the spray dryer pellets slurry to increases surface area while applying continuous hot air for instant drying. Applying spray granulation technology to heat-sensitive materials rarely causes material deterioration, and omits the tedious procedures of concentration, filtering, grinding, grading.</p>
        <p>The powder is spherical for great mobility, easily soluble in water for the food industry, and produces products with high density and consistency for the electronic materials, powder metallurgy and precision ceramics industries.</p>
    </article>
    <picture class="col-6 col-sm-12">
        <img src="~/Content/images/equipment/equi1_2_en.jpg">
    </picture>
</section>

<h2>Model Selection Reference (based on spray requirement)</h2>
<img class="img-center" src="~/Content/images/equipment/equi1_t1_en.jpg">

<br><br>

<h2>Model Selection Reference (based on application)</h2>
<img class="img-center" src="~/Content/images/equipment/equi1_t2_en.jpg">
