
@{
    ViewBag.Title = "粉体製造设备:卧式砂磨机";
    ViewBag.BodyClass = "Equipment";
    ViewBag.breadCrumb = "卧式砂磨机";
    ViewBag.Subnav2 = "current";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Equipment">设备</a></li>
}

@Html.Partial("sidebar")

<h1 class="clear"><small>粉体製造设备</small> @ViewBag.breadCrumb</h1>

<img class="img-center" src="~/Content/images/equipment/equi2.jpg">

<br><br>

<section class="row">
    <article class="text-left col-6 col-sm-12">
        <h2>原理与特长</h2>
        <p>卧式砂磨机是一种水平、湿式、连续生产之超微粒粉碎及分散机，其操作方法係利用定量汞浦，将预先搅拌完成之原料，送入已经填充适量研磨介质(如氧化锆珠)的主机研磨槽内，经由分散叶片高速转动，赋予研磨媒介足够之动能，与被分散物之颗粒冲击产生剪力，达到分散效果。</p>
        <p>传统分散一直是以球磨机为主，自1952年，美国杜邦公司爲改善传统球磨机缓慢的效率，才發明直立式砂磨机，至1966年欧洲科学家为改良直立式砂磨机之缺点，例如换料不易、静止时因研磨珠与原料受重力影响沉积底部，启动困难、研磨珠容易破碎等缺点，进而研發出卧式砂磨机。</p>
        <p>卧式砂磨机克服并排除上列各项缺点，不但具备高效率，且因力距较短，除了不受重力影响外，更有节省耗能与耗材的优点，</p>
        <p>此外，磨介规格可以採用更细的规格，因此分散的效果更佳，以精密陶瓷而言，研磨粒度可达到0.1~0.5μm。</p>
    </article>
    <picture class="col-6 col-sm-12">
        <img src="~/Content/images/equipment/equi2_2.jpg">
    </picture>
</section>

<h2>机型选用参考</h2>
<img class="img-center margin-bottom" src="~/Content/images/equipment/equi2_t1_zh.jpg">

<br><br>

<h2>材质选用参考</h2>
<img class="img-center margin-bottom" src="~/Content/images/equipment/equi2_t2_zh.jpg">
<p>★ 如有特殊需求，请与我们的工程部门联繫<br>★ FOR DIFFERENT REGUEST , PLEASE CONTACT OUR ENGINEERING DEPARTMENT.</p>