
@{
    ViewBag.Title = "Powder Fabrication Equipment:Horizontal Sand Mill";
    ViewBag.BodyClass = "Equipment";
    ViewBag.breadCrumb = "HORIZONTAL SAND MILL";
    ViewBag.Subnav2 = "active";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Equipment">EQUIPMENT</a></li>
}

@Html.Partial("sidebar")

<h1 class="clear"><small>Powder Fabrication Equipment</small> @ViewBag.breadCrumb</h1>

<img class="img-center" src="~/Content/images/equipment/equi2.jpg">

<br><br>

<section class="row">
    <article class="text-left col-6 col-sm-12">
        <h2>Principals and Strengths</h2>
        <p>Horizontal sand mill is a horizontal and wet type machine for continuous production of ultra-micro particles with smashing and dispersion. It uses a quantitative pump to transport the pre-stirred raw material into the grinding tank, which is pre-filled with a proper amount of grinding media (such as Zirconia beads). Through the high speed rotation of dispersed blades, the grinding media accumulates enough momentum to create a shearing force through its collision with the particles of raw material, and therefore the goal of raw material dispersion is achieved.</p>
        <p>The ball mill has been the mainstream dispersion machine in tradition. In 1952, DuPont in US invented the vertical sand mill to improve the low efficiency of traditional ball mill. Until 1966, in order to overcome the weaknesses of the vertical sand mill, such as difficulty in changing materials, difficulty in starting the machine due to the bottom deposits of grinding beads and raw materials caused by gravity while the machine not in use, and easiness in crushing the grinding beads, European scientists developed the horizontal sand mill.</p>
        <p>The horizontal sand mill eliminates the disadvantages listed above. It operates with high efficiency.</p>
        <p>Moreover, it’s not affected by gravity due to its shorter torque, and it also saves energy and consumables.</p>
        <p>In addition, the size of grinding media can be smaller for a better dispersion. For precision ceramics, the granularity can reach 0.1~0.5μm.</p>
    </article>
    <picture class="col-6 col-sm-12">
        <img src="~/Content/images/equipment/equi2_2.jpg">
    </picture>
</section>

<h2>Model Selection Reference</h2>
<img class="img-center margin-bottom" src="~/Content/images/equipment/equi2_t1_en.jpg">

<br><br>

<h2>Materials Selection Reference</h2>
<img class="img-center margin-bottom" src="~/Content/images/equipment/equi2_t2_en.jpg">
<p>★ FOR DIFFERENT REGUEST , PLEASE CONTACT OUR ENGINEERING DEPARTMENT.</p>