
<ul class="tabs">
    <li class="js-tab @ViewBag.Subnav">
        <a href="~/Equipment"><span>喷雾乾燥机</span></a>
    </li>
    <li class="js-tab @ViewBag.Subnav2">
        <a href="~/Equipment/2"><span>卧式砂磨机</span></a>
    </li>
    <li class="js-tab @ViewBag.Subnav3">
        <a href="~/Equipment/other"><span>相关项目</span></a>
    </li>
</ul>