
<ul class="tabs">
    <li class="js-tab @ViewBag.Subnav">
        <a href="~/Equipment">噴霧乾燥機</a>
    </li>
    <li class="js-tab @ViewBag.Subnav2">
        <a href="~/Equipment/2">臥式砂磨機</a>
    </li>
    <li class="js-tab @ViewBag.Subnav3">
        <a href="~/Equipment/other">相關項目</a>
    </li>
</ul>