
<ul class="tabs">
    <li class="js-tab @ViewBag.Subnav">
        <a href="~/Equipment"><span>SPRAY DRYER</span></a>
    </li>
    <li class="js-tab @ViewBag.Subnav2">
        <a href="~/Equipment/2"><span>HORIZONTAL SAND MILL</span></a>
    </li>
    <li class="js-tab @ViewBag.Subnav3">
        <a href="~/Equipment/other"><span>RELATED PROJECTS</span></a>
    </li>
</ul>