
<button class="pro-mobile-nav" data-dropdown="btn">
    <span>设备 <i class="icon-chevron-small-down"></i></span>
</button>

<ul class="pro-nav" data-dropdown="content">
    <li class="@ViewBag.Subnav">
        <a href="~/Equipment"><span>喷雾乾燥机</span></a>
    </li>
    <li class="@ViewBag.Subnav2">
        <a href="~/Equipment/2"><span>卧式砂磨机</span></a>
    </li>
    <li class="@ViewBag.Subnav3">
        <a href="~/Equipment/other"><span>相关项目</span></a>
    </li>
</ul>