
<button class="pro-mobile-nav" data-dropdown="btn">
    <span>設備 <i class="icon-chevron-small-down"></i></span>
</button>

<ul class="pro-nav" data-dropdown="content">
    <li class="@ViewBag.Subnav">
        <a href="~/Equipment"><span>噴霧乾燥機</span></a>
    </li>
    <li class="@ViewBag.Subnav2">
        <a href="~/Equipment/2"><span>臥式砂磨機</span></a>
    </li>
    <li class="@ViewBag.Subnav3">
        <a href="~/Equipment/other"><span>相關項目</span></a>
    </li>
</ul>